[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-allauth = "*"
psycopg2 = "*"
jsonfield = "*"
puremagic = "*"
fake-useragent = "*"
bs4 = "*"
cfscrape = "*"
yarl = "*"
pillow = "*"
pypng = "*"

[dev-packages]

[requires]
python_version = "3.8"
