[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-allauth = "*"
django-celery-results = "*"
psycopg2 = "*"
jsonfield = "*"
puremagic = "*"
fake-useragent = "*"
bs4 = "*"
cfscrape = "*"
yarl = "*"
pillow = "*"
pypng = "*"
redis = "*"
celery-progress = "*"
gevent = "*"
emailfinder = "*"
scapy = {extras = ["basic"], version = "*"}

[dev-packages]

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
