[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "==2.9.1"
django-auditlog = "*"
requests = "*"
bs4 = "*"
yarl = "*"
django-allauth = "*"
pillow = "*"
pypng = "*"
puremagic = "*"
pylint-django = "*"
cfscrape = "*"

[dev-packages]

[requires]
python_version = "3.8"
