{% load static %}
<footer class="footer">
    <div class="container-fluid">
        <div class="row text-muted">
            <div class="col-6 text-start">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a class="text-muted" href="notes/">Blog</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 text-end">
                <p class="mb-0">
                    &copy; 2021 - <a href="" class="text-muted">CySuite</a>
                </p>
            </div>
        </div>
    </div>
</footer>