{% load static %}

<nav id="sidebar" class="sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" href="/"><span class="align-middle me-3">CySuite</span></a>
        <ul class="sidebar-nav">
            <li class="sidebar-header">Pages</li>
            {% if request.path == '/dashboard/' %}
            <li class="sidebar-item active">
            {% else %}
            <li class="sidebar-item">
            {% endif %}
                <a data-bs-target="#dashboards" class="sidebar-link" href="/dashboard">
                    <i class="align-middle" data-feather="home"></i> <span class="align-middle">Dashboard</span>
                </a>
            </li>
            {% if request.path == '/projects/' %}
            <li class="sidebar-item active">
            {% else %}
            <li class="sidebar-item">
            {% endif %}
                <a class="sidebar-link" href="/projects">
                    <i class="align-middle" data-feather="book"></i> <span class="align-middle">Projects</span>
                </a>
            </li>
            {% if request.path == '/notes/' %}
            <li class="sidebar-item active">
            {% else %}
            <li class="sidebar-item">
            {% endif %}
                <a class="sidebar-link" href="/notes">
                    <i class="align-middle" data-feather="book-open"></i> <span
                        class="align-middle">Notes</span>
                </a>
            </li>

            <li class="sidebar-header">Recon and Exploitation</li>
            {% if request.path == '/subdomain-enum/' %}
            <li class="sidebar-item active">
            {% else %}
            <li class="sidebar-item">
            {% endif %}
                <a class="sidebar-link" href="/subdomain-enum">
                    <i class="align-middle" data-feather="grid"></i> <span class="align-middle">Subdomain
                        Enumeration</span>
                </a>
            </li>
            {% if request.path == '/directory-enum/' %}
            <li class="sidebar-item active">
            {% else %}
            <li class="sidebar-item">
            {% endif %}
                <a class="sidebar-link" href="/directory-enum">
                    <i class="align-middle" data-feather="link-2"></i> <span class="align-middle">Directory
                        Enumeration</span>
                </a>
            </li>
            {% if request.path == '/vuln-analysis/' %}
            <li class="sidebar-item active">
            {% else %}
            <li class="sidebar-item">
            {% endif %}
                <a class="sidebar-link" href="/vuln-analysis">
                    <i class="align-middle" data-feather="check-square"></i> <span
                        class="align-middle">Vulnerability Analysis</span>
                </a>
            </li>
            {% if request.path == '/dorking/' %}
            <li class="sidebar-item active">
            {% else %}
            <li class="sidebar-item">
            {% endif %}
                <a class="sidebar-link" href="/dorking">
                    <i class="align-middle" data-feather="search"></i> <span
                        class="align-middle">Dorking</span>
                </a>
            </li>
            {% if request.path == '/exploit/' %}
            <li class="sidebar-item active">
            {% else %}
            <li class="sidebar-item">
            {% endif %}
                <a class="sidebar-link" href="/exploit">
                    <i class="align-middle" data-feather="key"></i> <span class="align-middle">Run
                        Exploits</span>
                </a>
            </li>

            <li class="sidebar-header">Tools</li>
            {% if request.path == '/req-tamperer/' %}
            <li class="sidebar-item active">
            {% else %}
            <li class="sidebar-item">
            {% endif %}
                <a class="sidebar-link" href="/req-tamperer">
                    <i class="align-middle" data-feather="layout"></i> <span class="align-middle">Tamper Requests</span>
                </a>
            </li>
            {% if request.path == '/wordlist-gen/' %}
            <li class="sidebar-item active">
            {% else %}
            <li class="sidebar-item">
            {% endif %}
                <a class="sidebar-link" href="/wordlist-gen">
                    <i class="align-middle" data-feather="settings"></i> <span class="align-middle">Wordlist
                        Generator</span>
                </a>
            </li>
            {% if request.path == '/decoder/' %}
            <li class="sidebar-item active">
            {% else %}
            <li class="sidebar-item">
            {% endif %}
                <a class="sidebar-link" href="/decoder">
                    <i class="align-middle" data-feather="tool"></i> <span class="align-middle">Decoders, Hash
                        IDs, WP</span>
                </a>
            </li>
            {% if request.path == '/file-upload/' %}
            <li class="sidebar-item active">
            {% else %}
            <li class="sidebar-item">
            {% endif %}
                <a class="sidebar-link" href="/file-upload">
                    <i class="align-middle" data-feather="upload"></i> <span class="align-middle">File
                        uploads/Shells</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
<div class="main">
    <nav class="navbar navbar-expand navbar-light navbar-bg">
        <a class="sidebar-toggle">
            <i class="hamburger align-self-center"></i>
        </a>
        <form class="d-none d-sm-inline-block">
            <div class="input-group input-group-navbar">
                <input type="text" class="form-control" placeholder="Search projects…" aria-label="Search">
                <button class="btn" type="button">
                    <i class="align-middle" data-feather="search"></i>
                </button>
            </div>
        </form>
        <div class="navbar-collapse collapse">
            <ul class="navbar-nav navbar-align">
                <li class="nav-item dropdown">
                    <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#"
                        data-bs-toggle="dropdown">
                        <i class="align-middle" data-feather="settings"></i>
                    </a>
                    <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#"
                        data-bs-toggle="dropdown">
                        <img src="{% static 'img/profile/avatar.jpeg' %}" class="avatar img-fluid rounded-circle me-1"
                            alt="Mark Gacoka" /> <span class="text-dark">Gacoka Mbui</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" href="/profile">Profile</a>
                        <a class="dropdown-item" href="#">Check for updates</a>
                        <a class="dropdown-item" href="/">Log Out</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>