{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>Checkout | CySuite</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='shortcut icon' type='image/x-icon' href="{% static 'img/logo/favicon.ico' %}" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="{% static 'css/light.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.css">
  <link rel="stylesheet" href="{% static 'css/terms.css' %}">
</head>
<body>
  <main class="page payment-page">
    <section class="payment-form dark" style="min-height: calc(100vh - 40px);">
      <div class="container">
        <div class="block-heading" style="display: grid;">
          <center><a href="/"><img src="{% static 'img/logo/logo_footer.png' %}" alt="CySuite logo" style="width: 15rem; height: auto; padding-bottom: 2rem;"></a></center>
          <h2 style="color: #000;">Upgrade your Account to Pro</h2>
          <p>The subscription will be billed monthly at the time of purchase and can be cancelled from your dashboard.</p>
        </div>
        <form>
          <div class="products">
            <h3 class="title">Checkout</h3>
            <div class="item">
              <span class="price">$15.00<p class="item-description" style="text-align:right;">$2.50</p></span>
              <p class="item-name">Pro Subscription</p>
              <p class="item-description">V.A.T</p>
            </div>
            <div class="total">Total<span class="price">$17.50</span></div>
          </div>
          <div class="card-details">
              <div id="paypal-btn"></div>
          </div>
        </form>
        <div style="text-align: center; width: 100%; display: grid; padding-top: 2rem;"><a href="/profile"><i class="fas fa-arrow-left"></i>&nbsp;Go back to account</a></div>
      </div>
    </section>
  </main>
  <footer style="padding: 0.5rem 0 0.5rem 0;">
    <p style="text-align: center; flex-direction: column; display: flex; margin-top: 16px;">&copy; CySuite 2022 All right reserved.</p>
  </footer>
  <script src="{% static 'js/app.js' %}"></script>
  <script src="https://www.paypal.com/sdk/js?client-id={{PAYPAL_CLIENT_ID}}&currency=USD&disable-funding=credit"></script>
  <script>
      paypal.Buttons({
        style: {
          fundingicons: 'true',
          tagline: 'false'
        },
        funding: {
          disallowed: [ paypal.FUNDING.CREDIT ]
        },
          createOrder: function(data, actions) {
              return actions.order.create({
                  purchase_units: [{
                      amount: {
                          value: '17.50'
                      }
                  }]
              });
          },
          onApprove: function(data, actions) {
              return actions.order.capture().then(function(orderData) {
                  var transaction = orderData.purchase_units[0].payments.captures[0];
                  var token = '{{csrf_token}}';

                  $.ajax({
                    headers: { "X-CSRFToken": token },
                    url: '{% url 'transaction' %}',
                    data: JSON.stringify(orderData),
                    type: 'POST',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                  })
                  
                  var message = transaction.status + '! Transaction No: ' + transaction.id;
                  var type = "success";
                  var duration = 5000;
                  var ripple = true;
                  var dismissible = true;
                  var positionY = "top";
                  window.notyf.open({type, message, duration, ripple, dismissible, positionY});
              });
          }
      }).render('#paypal-btn');
  </script>
</body>
</html>