
<!DOCTYPE html>
<html>
<head>
  <title>Checkout | CySuite</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='shortcut icon' type='image/x-icon' href='../assets/img/logo/favicon.ico' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="../assets/css/terms.css">
</head>
<body>
  <main class="page payment-page">
    <section class="payment-form dark" style="min-height: calc(100vh - 40px);">
      <div class="container">
        <div class="block-heading" style="display: grid;">
          <a href="../index.html"><img src="../assets/img/logo/cysuite_blue.png" alt="CySuite logo" style="width: 10rem; height: auto; padding-bottom: 2rem;"></a>
          <h2>Upgrade your Account to Pro</h2>
          <p>The subscription will be billed monthly at the time of purchase and can be cancelled from your dashboard.</p>
        </div>
        <form>
          <div class="products">
            <h3 class="title">Checkout</h3>
            <div class="item">
              <span class="price">$15.00<p class="item-description" style="text-align:right;">$2.50</p></span>
              <p class="item-name">Pro Subscription</p>
              <p class="item-description">V.A.T</p>
            </div>
            <div class="total">Total<span class="price">$17.50</span></div>
          </div>
          <div class="card-details">
              <div id="paypal-btn"></div>
          </div>
        </form>
      </div>
    </section>
  </main>
  <footer style="padding: 0.5rem 0 0.5rem 0;">
    <p style="text-align: center; flex-direction: column; display: flex; margin-top: 16px;">&copy; CySuite 2021 All right reserved.</p>
  </footer>
  <script src="https://www.paypal.com/sdk/js?client-id=test"></script>
  <script>paypal.Buttons().render('#paypal-btn');</script>
</body>
</html>
