{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Terms &amp; Conditions </title>
    <link rel='shortcut icon' type='image/x-icon' href="{% static 'img/icons/favicon.ico' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.css">
    <link rel="stylesheet" href="{% static 'css/terms.css' %}">
</head>

<body data-theme-mode-panel-active data-theme="light">
    <div class="site-wrapper overflow-hidden position-relative">
        <div class="inner-terms-banner">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7 col-md-10">
                        <div class="section-heading-14 text-center">
                            <h2>Terms & Conditions</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="terms-condition-area">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xxl-7 col-xl-8 col-lg-9">
                        <div class="terms-con-content-1">
                            <p>By accessing and placing an order with UXTheme, you confirm that you are in agreement with and bound by the terms and conditions contained in the Terms Of Use outlined below. These terms apply to the entire website and any
                                email or other type of communication between you and UXTheme. Under no circumstances shall UXTheme team be liable for any direct, indirect, special, incidental or consequential damages, including, but not limited to, loss
                                of data or profit, arising out of the use, or the inability to use, the materials on this site, even if UXTheme team or an authorized representative has been advised of the possibility of such damages. If your use of materials
                                from this site results in the need for servicing, repair or correction of equipment or data, you assume any costs thereof. UXTheme will not be responsible for any outcome that may occur during the course of usage of our
                                resources.We reserve the rights to change prices and revise the resources usage policy in any moment.
                            </p>
                        </div>
                        <div class="license-area">
                            <h4>License</h4>
                            <p>By purchasing or downloading resource (“item” or “file”) you are being granted a license to use these files for specific uses under certain conditions. Ownership remains with UXTheme, and you are required to abide by the following
                                licensing terms.</p>
                        </div>
                        <div class="skills-qualification">
                            <h4>Security</h4>
                            <ul class="list-unstyled">
                                <li><i class="fas fa-circle"></i> <span> You have rights for royalty free use of our resources for any or all of your personal and commercial projects.</span></li>
                                <li><i class="fas fa-circle"></i><span> You are not required to attribute or link to UXTheme in any of projects.</span></li>
                                <li><i class="fas fa-circle"></i><span> We reserve the rights to change prices and revise the resources usage policy in any moment.</span></li>
                            </ul>
                        </div>
                        <div class="terms-con-content-2">
                            <h4>Embedded content from other websites</h4>
                            <p>Articles on this site may include embedded content (e.g. videos, images, articles, etc.). Embedded content from other websites behaves in the exact same way as if the visitor has visited the other website.
                            </p>
                            <p> These websites may collect data about you, use cookies, embed additional third-party tracking, and monitor your interaction with that embedded content, including tracking your interaction with the embedded content if you have
                                an account and are logged in to that website.</p>
                        </div>
                        <div class="terms-con-content-3">
                            <h4>Changes about terms</h4>
                            <p>If we change our terms of use we will post those changes on this page. Registered users will be sent an email that outlines changes made to the terms of use.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer-sign-in-1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-sm-9">
                        <div class="row">
                            <div class="col-xl-9 col-lg-10 col-md-8">
                                <div class="content">
                                    <p>The CySuite logo is a trademark of the CySuite company.</p>
                                    <p>All rights reserved.</p>
                                </div>
                                <div class="social-icons">
                                    <ul class="pl-0 list-unstyled d-flex align-items-end ">
                                        <li class="d-flex flex-column justify-content-center"><a href="#"><i
                                            class="fab fa-twitter"></i></a></li>
                                        <li class="d-flex flex-column justify-content-center"><a href="#"><i
                                            class="fab fa-medium"></i></a></li>
                                        <li class="d-flex flex-column justify-content-center"><a href="#"><i
                                            class="fab fa-github"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-sm-9" style="display: flex; align-items: center;">
                        <img src="{% static 'img/logo/cysuite.png' %}" alt="" style="width: 20rem; height: auto;">
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>