{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CySuite</title>
    <link rel="icon" href="{% static 'img/icons/favicon.ico' %}" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.css">
    <link rel="stylesheet" href="{% static 'css/thankyou.css' %}" >
</head>
<body>
    <div class="jumbotron text-center" style="padding-top: 20vh;">
        <h1 class="display-3">Thank You!</h1>
        <p style="font-size: calc(1vw+2vh);" class="lead"><strong>You are now subscribed</strong> to our newsletter. You will occasional feature and news updates.</p>
        <center>
        <div style="display: flex; left: 45%; position: relative;">
            <a class="thank-button glue-button--medium-emphasis" title="Create an Account" href="{% url 'index' %}" style="float: right;">
                Go Back Home
            </a>
        </div>
        </center>
    </div>
</body>
<footer>
    <hr />
    <p>
        Having trouble? <a href="mailto:info@cysuite.io">Contact us</a>
    </p>
    <p style="text-align: center; flex-direction: column; display: flex; margin-top: 16px;">&copy; CySuite 2022 All right reserved.</p>
</footer>
</html>