{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title%}Dashboard{% endblock %}</title>
    <link rel="icon" href="{% static 'img/icons/favicon.ico' %}" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.css">
    <link href="{% static 'css/theme.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/light.css' %}" rel="stylesheet">
</head>

<body data-theme="default" data-layout="fluid" data-sidebar-position="left" data-sidebar-behavior="sticky">
    <div class="wrapper">
        {% include 'partials/_sidebar.html' %}
            <main class="content">
                {% block content %}
                {% endblock %}
            </main>
        {% include 'partials/_footer.html' %}
    </div>
    <script src="{% static 'js/app.js' %}"></script>
    <script>
		document.addEventListener("DOMContentLoaded", function() {
			$("#datatables-dashboard-projects").DataTable({
				pageLength: 6,
				lengthChange: false,
				bFilter: false,
				autoWidth: false
			});
		});
	</script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var message = "Success!";
        var type = document.querySelector("#alert-success").value;
        var duration = 5000;
        var ripple = true;
        var dismissible = true;
        var positionY = "top";
        window.notyf.open({type, message, duration, ripple, dismissible, positionY});
        });
        document.addEventListener("DOMContentLoaded", function () {
        document.querySelector("#alert-warning").addEventListener("click", function () {
            var message = "Warning";
            var type = document.querySelector("#alert-warning").value;
            var duration = 5000;
            var ripple = true;
            var dismissible = true;
            var positionY = "top";
            window.notyf.open({type, message, duration, ripple, dismissible, positionY});
            });
        });
        document.addEventListener("DOMContentLoaded", function () {
        document.querySelector("#alert-danger").addEventListener("click", function () {
            var message = "Error!";
            var type = document.querySelector("#alert-danger").value;
            var duration = 5000;
            var ripple = true;
            var dismissible = true;
            var positionY = "top";
            window.notyf.open({type, message, duration, ripple, dismissible, positionY});
            });
        });
    </script>
  </body>
</body>
</html>
