{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" href="{% static 'img/icons/favicon.ico' %}" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="canonical" href="https://cysuite.io/" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@CySuite_" />
    <meta name="twitter:creator" content="@CySuite_" />
    <meta property="og:url" content="https://cysuite.io/" />
    <meta property="theme-color" content="#373434" />
    <meta property="msapplication-TileColor" content="#373434" />
    <meta property="referrer" content="no-referrer-when-downgrade" />
    <meta property="HandheldFriendly" content="True" />
    <meta property="MobileOptimized" content="360" />
    <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1" />
    <title>
      CySuite
    </title>
    <meta name="robots" content="index,follow" />
    <meta name="googlebot" content="index,follow" />
    <meta name="description" content="CySuite is a scalable web security tool for vulnerability assessment and exploitation testing."/>
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Scalable web security platform and API" />
    <meta property="og:description" content="CySuite is a scalable web security tool for vulnerability assessment and exploitation testing."/>
    <meta property="og:image" content="{% static 'img/logo/logo.png' %}"/>
    <meta property="og:image:width" content="1280" />
    <meta property="og:image:height" content="720" />
    <meta property="og:site_name" content="CySuite" />
    <meta property="keywords" content="Security Testing Platform" />
    <meta name="twitter:title" content="Scalable web security platform and API" />
    <meta name="twitter:image" content="{% static 'img/logo/logo.png' %}"/>
    <meta property="og:image:type" content="image/png" />
    <link rel="stylesheet" data-href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&amp;display=swap" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.css">
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
  </head>
  <body>
    <header class="header">
        <div class="header__area">
            <div class="header__area-container">
            <nav class="header__area-container-navbar">
                <div class="glue-header__lock-up">
                    <div class="glue-header__logo">
                        <a class="glue-header__logo-link" href="/" aria-label="CySuite" tabindex="0">
                        <img src="{% static 'img/logo/logo_footer.png' %}" alt="CySuite" class="header__area-container-logo">
                        </a>
                    </div>
                </div>
                <ul class="header__list">
                    <li class="header__list-item">
                    <a class="header__list-link header__list-link-is-active" href="/" title="Why Perspective" aria-label="Why Perspective">
                        Why CySuite
                    </a>
                    </li>
                    <li class="header__list-item">
                    <a class="header__list-link" href="/how-it-works/" title="How it Works" aria-label="How it Works">
                        How it Works
                    </a>
                    </li>
                    <li class="header__list-item">
                    <a class="header__list-link" href="/case-studies/" title="Case Studies" aria-label="Case Studies">
                        Our Values
                    </a>
                    </li>
                </ul>
                <ul class="header__list" style="float: right;display: flex;position: relative;">
                    <li class="header__list-item">
                        <a class="glue-button glue-button--medium-emphasis" title="Log In" href="/login" tabindex="0">
                            Log In
                        </a>
                    </li>
                </ul>
                <span class="header__toggler">
                <span></span>
                </span>
            </nav>
            </div>
        </div>
    </header>
    <div style="height: 600px; position: absolute; display: contents;">
        <video class="video-illustration" src="{% static 'img/illustrations/background_smaller.mp4' %}" width="100%" height="100%" autoplay="" loop="" muted="" style="object-fit: cover; opacity: 0.08;"></video>
        <div class="glue-mod-text-center overlay" style="display: flex;">
            <h1 class="title-text font-bold text-3xl lg:text-5xl leading-snug" style="font-size: calc(2vw + 1.5vh); color: #333; padding-bottom: 1.5rem;">Making a safer Internet through crowdsourced analysis.</h1>
            <h2 class="title-text" style="font-size: 22px; font-weight: 400; color: #333;">CySuite provides you with a convenient dashboard to manage all your targets' data with rich visualization.</h2>
            <a class="title-button glue-button--medium-emphasis" title="Create an Account" href="/register" style="float: right; color:white;">
                Create an Account&emsp;<i class="fa fa-chevron-right" style="color: lightgray; z-index: 1;"></i>
            </a>
        </div>
    </div>
    <section class="bg-haiti py-12 lg:py-30">
        <div class="max-w-6xl mx-auto px-6">
            <div class="home_gridEng__3Mbrn home_gridTabs__1rT4S my-8 md:pt-0 pt-1 md:mt-0">
                <div id="id-1" role="tablist" class="flex w-full overflow-hidden lg:overflow-hidden relative justify-center items-center h-full col-start-1 lg:col-start-2 text-light-haiti" aria-label="Graphcms For Engineering teams">
                    <div class="absolute lg:relative top-0 right-0 left-0 bottom-0 h-full w-auto lg:overflow-x-hidden overflow-x-scroll overflow-y-hidden scrolling-touch whitespace-nowrap shadow-none md:shadow-border"></div>
                </div>
            </div>
            <div>
                <div style="opacity: 1; transform: translateY(0%); pointer-events: auto; z-index: 1;">
                    <div id="id-1-4" style="" role="tabpanel" tabindex="0" class="home_gridEng__3Mbrn focus:outline-none lg:min-h-[462px]" aria-labelledby="queries-mutations">
                        <div>
                            <h2 class="font-bold text-3xl lg:text-5xl leading-snug text-white">
                                Access organized information on various web targets using our API
                            </h2>
                            <p class="text-base md:text-lg mt-6 text-whisper">
                                CySuite has a robust API with a vast corpus of labelled data on web targets for a more convinient integration with automated tools. Try out the API today and be a part of making the data richer while having access to a magnitude of web-related data.
                            </p>
                        </div>
                        <div class="text-white w-full overflow-auto">
                            <div id="id-3" role="tablist" aria-label="Queries and Mutations examples" class="mb-6">
                                <button id="queries" tabindex="0" aria-selected="true" role="tab" class="text-center tracking-wider uppercase p-3 rounded font-medium text-xs lg:text-sm focus:outline-none bg-light-bunting text-white mr-2" aria-controls="id-3-3">CURL</button>
                            </div>
                            <div id="id-3-3" style="" role="tabpanel" tabindex="0" class="focus:outline-none" aria-labelledby="queries">
                                <div id="id-5" role="tablist" class="flex w-full overflow-hidden lg:overflow-hidden relative mb-6 h-8" aria-label="Queries code examples">
                                    <div class="absolute lg:relative top-0 right-0 left-0 bottom-0 h-full w-auto lg:overflow-x-hidden overflow-x-scroll overflow-y-hidden scrolling-touch whitespace-nowrap">
                                        <div class="space-x-3">
                                            <button id="Simple" tabindex="0" aria-selected="true" role="tab" class="text-sm text-left border-b pb-1 focus:outline-none text-white border-white" aria-controls="id-5-8">
                                                Simple
                                            </button>
                                            <button id="Complex" tabindex="-1" aria-selected="false" role="tab" class="text-sm text-left border-b pb-1 focus:outline-none border-transparent text-light-haiti" aria-controls="id-5-9">
                                                Complex
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div id="id-5-8" style="" role="tabpanel" tabindex="0" class="focus:outline-none" aria-labelledby="Simple">
                                    <div class="h-72 lg:h-84 overflow-auto bg-big-stone dark:bg-gray-900 rounded border flex-shrink-0 border-light-bunting Code_code__1q0xX">
                                        <div class="relative h-full">
                                            <div class="px-3 sticky top-0 z-10 py-3 bg-big-stone">
                                                <div id="id-7" role="tablist" aria-label="Query and response">
                                                    <button id="gql-query" tabindex="0" aria-selected="true" role="tab" class="text-center tracking-wider uppercase p-3 rounded font-medium text-xs lg:text-sm focus:outline-none bg-light-bunting text-white mr-2" aria-controls="id-7-3">REQUEST</button>
                                                    <button id="response" tabindex="-1" aria-selected="false" role="tab" class="text-center tracking-wider uppercase p-3 rounded font-medium text-xs lg:text-sm focus:outline-none text-light-haiti" aria-controls="id-7-4">RESPONSE</button>
                                                </div>
                                            </div>
                                            <div id="id-7-3" style="height: calc(100% - 70px);" role="tabpanel" tabindex="0" class="focus:outline-none text-sm" aria-labelledby="gql-query">
                                                <pre
                                                    class="prism-code language-graphql graphql Code_code__1q0xX rounded bg-big-stone font-mono block p-3 lg:p-6 relative h-full overflow-auto">curl https://cysuite.io</pre>
                                            </div>
                                            <div id="id-7-4" hidden="" style="display: none; height: calc(100% - 70px);" role="tabpanel" tabindex="0" class="focus:outline-none text-sm" aria-labelledby="response">
                                                <pre
                                                    class="prism-code language-graphql graphql Code_code__1q0xX rounded bg-big-stone font-mono block p-3 lg:p-6 relative h-full overflow-auto">curl https://cysuite.io</pre>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
        <div class="untree_co-section" id="features-section">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-4">
                    <span class="caption aos-init aos-animate" style="color: #000000;">Central Dashboard</span>
                    <h2 class="font-bold text-3xl lg:text-5xl leading-snug" style="padding-bottom: 1rem;">User Feedback - UI/UX</h2>
                    <div class="mb-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                        <div class="untree_co-testimonial d-flex">
                            <div class="text">
                                <blockquote>
                                    “Lorem ipsum <span class="highlight">dolor sit amet, consectetur adipiscing elit. </span>Mauris aliquet, dolor a congue dictum, arcu sapien blandit eros, semper maximus ex turpis a tellus. Vestibulum id vehicula risus, quis sodales libero.”
                                </blockquote>
                                <div class="author d-flex">
                                    <div class="pic mr-3">
                                        <img src="{% static 'img/profile/avatar.jpeg'%}" alt="Image" class="img-fluid"/>
                                    </div>
                                    <div><strong class="d-block">Anonymous User</strong><span class="d-block">Role, Company</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 aos-init aos-animate" data-aos="fade-up" data-aos-delay="400">
                    <a href="https://www.youtube.com/watch?v=mwtbEGNABWU&amp;t=9s" class="btn-video" data-fancybox="">
                        <span class="wrap-icon-play">
                            <svg class="bi bi-play-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.596 8.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"></path>
                            </svg>
                        </span>
                        <img src="{% static 'img/showcase/capture.png'%}" alt="Image" class="img-fluid img-shadow" style="width: 1200px; height: auto;" />
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-haiti">
        <div class="max-w-6xl mx-auto px-6">
        <div class="-mx-6">
            <section class="bg-haiti text-white py-8 md:py-16">
            <div class="mx-auto px-6 max-w-6xl">
                <div class="lg:text-center mb-6 lg:mb-12 mx-auto max-w-4xl">
                <h2 class="font-bold text-2xl md:text-3xl lg:text-4xl leading-snug mt-12">Advanced security analysis has never gotten easier</h2>
                <p class="leading-loose my-3 md:my-4 lg:my-6">
                    CySuite plans are flexible to suite all your needs. 
                    Get started for free and enjoy basic features and tools today. 
                    For more heavy users, the rate is charged by usage. Reach out to the sales team or visit the CySuite documentation to get more information.
                </p>
                <div class="inline-flex mt-6 space-x-4">
                    <a class="border font-semibold inline-block rounded text-center transition-all px-4 py-2 text-sm bg-transparent border-rose text-rose hover:bg-rose hover:text-white" style="text-decoration: none;" href="https://app.gitbook.com/@markgacoka/s/cysuite/docs/cysuite" rel="noopener noreferrer" target="_blank">Read the documentation →</a>
                    <a class="border font-semibold inline-block rounded text-center transition-all px-4 py-2 text-sm bg-rose border-rose text-white hover:bg-rose hover:text-white" style="text-decoration: none;" href="/contact">Contact details →</a>
                </div>
                </div>
            </div>
            </section>
        </div>
        </div>
    </div>
    <footer class="bg-whisper">
        <div style="width: 100%; padding-top:2rem;">
            <p class="widget-title" style="text-align: center;">Sign up to the newsletter to receive updates</p>
            <form class="form-inline" style="justify-content: center; padding-top: 1rem;" method="post">
            {% csrf_token %}
                <div class="newsletter-form news-icon text-md-center">
                    <div>
                        <span><input type="email" class="form-control" id="email" name="subscriber" size="40" style="color: black;" aria-required="true" placeholder="Enter Your Email :" /></span>
                        <input type="submit" name="submit" value="Subscribe" class="email-btn" />
                    </div>
                </div>
            </form>
        </div>
        <div class="max-w-6xl mx-auto px-6">
            <div class="py-6 md:py-12 lg:py-20 border-b border-primary-100">
                <div class="md:flex -mx-6">
                    <div class="md:w-1/4 px-6">
                        <ul class="mt-6 leading-loose">
                            <li class="text-light-haiti text-sm uppercase tracking-wider font-medium mb-3">GET TO KNOW US</li>
                            <li><a class="text-zodiac font-medium hover:text-cornflower text-sm" style="color: rgba(98, 110, 153, var(--tw-text-opacity));" href="/about-us" target="_blank">About Us</a></li>
                            <li><a class="text-zodiac font-medium hover:text-cornflower text-sm" style="color: rgba(98, 110, 153, var(--tw-text-opacity));" href="/terms-conditions" target="_blank">Terms of Service</a></li>
                            <li><a class="text-zodiac font-medium hover:text-cornflower text-sm" style="color: rgba(98, 110, 153, var(--tw-text-opacity));" href="/privacy-policy" target="_blank">Privacy Policy</a></li>
                        </ul>
                    </div>
                    <div class="md:w-1/4 px-6">
                        <ul class="mt-6 leading-loose">
                            <li class="text-light-haiti text-sm uppercase tracking-wider font-medium mb-3">BLOG</li>
                            <li><a class="text-zodiac font-medium hover:text-cornflower text-sm" style="color: rgba(98, 110, 153, var(--tw-text-opacity));" href="https://medium.com/@cysuiteio" target="_blank">Medium Blog</a></li>
                            <li><a class="text-zodiac font-medium hover:text-cornflower text-sm" style="color: rgba(98, 110, 153, var(--tw-text-opacity));" href="/graphql">Sign up to Newsletter</a></li>
                            <li><label class="btn text-zodiac hover:text-cornflower text-sm" for="modal-1" style="cursor: pointer; color: rgba(98, 110, 153, var(--tw-text-opacity));">Request API Access</label></li>
                        </ul>
                    </div>
                    <div class="md:w-1/4 px-6">
                        <ul class="mt-6 leading-loose">
                            <li class="text-light-haiti text-sm uppercase tracking-wider font-medium mb-3">REACH OUT</li>
                            <li><a class="text-zodiac font-medium hover:text-cornflower text-sm" style="color: rgba(98, 110, 153, var(--tw-text-opacity));" href="mailto:info@cysuite.io" target="_blank">Contact</a></li>
                            <li><a class="text-zodiac font-medium hover:text-cornflower text-sm" style="color: rgba(98, 110, 153, var(--tw-text-opacity));" href="mailto:press@cysuite.io" target="_blank">Press</a></li>
                            <li><a class="text-zodiac font-medium hover:text-cornflower text-sm" style="color: rgba(98, 110, 153, var(--tw-text-opacity));" href="/for-engineering" target="_blank">Join the Community</a></li>
                            <li><a class="text-zodiac font-medium hover:text-cornflower text-sm" style="color: rgba(98, 110, 153, var(--tw-text-opacity));" href="/profile">Provide Feedback</a></li>
                        </ul>
                    </div>
                    <div class="md:w-1/4 px-6">
                        <ul class="mt-6 leading-loose">
                            <li class="text-light-haiti text-sm uppercase tracking-wider font-medium mb-3">Resources</li>
                            <li><a class="text-zodiac font-medium hover:text-cornflower text-sm" style="color: rgba(98, 110, 153, var(--tw-text-opacity));" href="https://app.gitbook.com/@markgacoka/s/cysuite/docs/cysuite" target="_blank">How to Use CySuite</a></li>
                            <li><a class="text-zodiac font-medium hover:text-cornflower text-sm" style="color: rgba(98, 110, 153, var(--tw-text-opacity));" href="https://app.gitbook.com/@markgacoka/s/cysuite/docs/api-documentation" target="_blank">API Documentation</a></li>
                            <li><a class="text-zodiac font-medium hover:text-cornflower text-sm" style="color: rgba(98, 110, 153, var(--tw-text-opacity));" href="https://app.gitbook.com/@markgacoka/s/cysuite/info-security/methodology" target="_blank">Resources to learn</a></li>
                            <li><a class="text-zodiac font-medium hover:text-cornflower text-sm" style="color: rgba(98, 110, 153, var(--tw-text-opacity));" href="https://app.gitbook.com/@markgacoka/s/cysuite/docs/faq" target="_blank">FAQ</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <input class="modal-state" id="modal-1" type="checkbox" />
            <div class="modal">
                <label class="modal__bg" for="modal-1"></label>
                <div class="modal__inner" style="width: 60vw; height: fit-content;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <label class="modal__close d-flex align-items-center justify-content-center" for="modal-1"><i class="fa fa-times"></i></label>
                        </div>
                        <div class="modal-row no-gutters">
                            <div class="modal-column d-flex">
                                <div class="modal-body p-5 img d-flex" style="background-image:url({% static 'img/backgrounds/bg-1.jpg' %}); width: inherit;">
                                </div>
                            </div>
                            <div class="modal-column d-flex">
                                <div class="modal-body p-5 d-flex align-items-center">
                                    <div class="text w-100 text-center py-5">
                                        <h3 class="mb-4 api-request-h4">Fill in the details below to join the waitlist. You will be notified via email on API rollout.</h4>
                                        <form action="#" class="code-form">
                                            <div class="form-group d-flex">
                                                <input type="text" class="form-control" placeholder="Name">
                                            </div>
                                            <div class="form-group d-flex">
                                                <input type="text" class="form-control" placeholder="Email">
                                            </div>
                                            <div class="form-group d-flex">
                                                <textarea type="text" class="form-control" style="min-height: 300px;" placeholder="Why do you need API access? (Be descriptive)"></textarea>
                                            </div>
                                        </form>
                                        <a href="#" class="submit-btn d-block py-3">Submit</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="py-6 md:py-12">
                <div class="md:flex md:items-center">
                    <div class="flex md:w-2/5 items-center mb-6 md:mb-0">
                            <li class="d-inline-block" style="list-style-type: none; padding-right: 1rem;"><a href="https://twitter.com/CySuite_"><i class="fab fa-twitter" style="font-size: 20px;"></i></a></li>
                            <li class="d-inline-block" style="list-style-type: none; padding-right: 1rem;"><a href="https://medium.com/@cysuiteio"><i class="fab fa-medium" style="font-size: 20px;"></i></a></li>
                            <li class="d-inline-block" style="list-style-type: none; padding-right: 1rem;"><a href=""><i class="fab fa-linkedin-in" style="font-size: 20px;"></i></a></li>
                    </div>
                    <div class="md:w-1/5 hidden md:flex md:items-center md:justify-center">
                        <img src="{% static 'img/logo/logo_footer.png' %}">
                    </div>
                    <div class="md:w-2/5 text-light-haiti text-sm md:text-right">
                        © <!-- -->2021
                    </div>
                </div>
            </div>
        </div>
    </footer>
    </body>
</html>
