{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/test.css' %}" />
</head>
<body>
<section class="saas_features_area_three bg_color sec_pad">
    <div class="container">
        <div class="sec_title text-center mb_70 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
            <h2 class="f_p f_size_30 l_height50 f_600 t_color">Our great services</h2>
            <p class="f_400 f_size_16">Skive off mush victoria sponge super lavatory it's all gone to pot<br> knees up fanny around vagabond</p>
        </div>
        <div class="row mb_30 new_service">
            <div class="col-lg-4 col-sm-6">
                <div class="saas_features_item text-center wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                    <div class="number">1</div>
                    <div class="separator"></div>
                    <div class="new_service_content">
                        <img src="http://droitthemes.com/html/saasland/img/home-10/icon1.png" alt="">
                        <h4 class="f_size_20 f_p t_color f_500">Awesome design</h4>
                        <p class="f_400 f_size_15 mb-0">Tosser blag bubble and squeak up the duff A bit of how's your father blatant morish char cuppa.!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="saas_features_item text-center wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                    <div class="number">2</div>
                    <div class="separator"></div>
                    <div class="new_service_content">
                        <img src="http://droitthemes.com/html/saasland/img/home-10/icon2.png" alt="">
                        <h4 class="f_size_20 f_p t_color f_500">Easy Customize</h4>
                        <p class="f_400 f_size_15 mb-0">Tosser blag bubble and squeak up the duff A bit of how's your father blatant morish char cuppa.!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="saas_features_item text-center wow fadeInUp" data-wow-delay="0.7s" style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp;">
                    <div class="number">3</div>
                    <div class="separator"></div>
                    <div class="new_service_content">
                        <img src="http://droitthemes.com/html/saasland/img/home-10/icon3.png" alt="">
                        <h4 class="f_size_20 f_p t_color f_500">Extreme Security</h4>
                        <p class="f_400 f_size_15 mb-0">Tosser blag bubble and squeak up the duff A bit of how's your father blatant morish char cuppa.!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>