{% load static %}
{% load account socialaccount %}
{% get_providers as socialaccount_providers %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign In | CySuite</title>
    <link rel="icon" href="{% static 'img/icons/favicon.ico' %}" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="{% static 'css/alert.css' %}" rel="stylesheet">
    <link href="{% static 'css/auth.css' %}" rel="stylesheet">
    <script src="{% static 'js/app.js' %}"></script>
</head>
<body data-theme="default" data-layout="fluid" data-sidebar-position="left" data-sidebar-behavior="sticky">
    <div class="main d-flex justify-content-center w-100">
        <main class="content d-flex p-0">
            <div class="container d-flex flex-column">
                <center><a href="/"><img src="{% static 'img/logo/logo_footer.png' %}" style="width: 15rem; height: auto; padding-top: 3rem;"></a></center>
                <div class="row h-100" style="padding: 1rem 1rem 0 1rem;">
                    <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100" style="width: calc(100% - 20vw/25vh)">
                        <div class="d-table-cell align-middle">
                            <div class="text-center mt-4">
                            <h2 class="h2" style="font-size: 2rem;">Log In</h2>
                                <p class="lead">
                                    Sign in to your account to continue
                                </p>
                            </div>
                            <div class="card" style="height: fit-content;">
                                <div class="card-body">
                                    <div class="m-sm-4">
                                        <div class="text-center">
                                        </div>
                                        <form method="post" id="login-form">
                                            {% csrf_token %}
                                            {% if login_form.non_field_errors %}
                                            {% for error in login_form.non_field_errors %}
                                            <div class="alert alert-danger alert-dismissible" role="alert">
                                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><i class="fa fa-times" style="font-size: 1.3rem; color:red; z-index: 2;"></i></button>
                                                <div class="alert-message">
                                                    <strong>{{error}}</strong>
                                                </div>
                                            </div>
                                            {% endfor %}
                                            {% endif %}
                                            {% for field in login_form %}
                                            {% ifchanged field.errors %}
                                                {% for error in field.errors %}
                                                    <div class="alert alert-danger alert-dismissible" role="alert">
                                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><i class="fa fa-times" style="font-size: 1.3rem; color:red; z-index: 2;"></i></button>
                                                        <div class="alert-message">
                                                            <strong class="alert-text">{{error}}</strong>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            {% endifchanged %}
                                            {% endfor %}
                                            <h4 style="text-align:center">Sign in using Social</h4>
                                            <div class="flex-c-m">
                                                <a href="#" class="login100-social-item bg1"><i class="fab fa-facebook-f"></i></a>
                                                <a href="#" class="login100-social-item bg2"><i class="fab fa-twitter"></i></a>
                                                <a href="{% provider_login_url 'google' %}" class="login100-social-item bg3"><i class="fab fa-google"></i></a>
                                            </div>
                                            <div class="mb-3" style="padding-top: 2rem;">
                                                <label class="form-label">Email</label>
                                                <input class="form-control form-control-lg" type="text" name="email" placeholder="Enter your email" />
                                            </div>
                                            <div style="height: 3rem; margin-bottom: 2rem;">
                                                <label class="form-label">Password</label>
                                                <div style="width: 100%;">
                                                    <input class="form-control form-control-lg" id="password-input" type="password" name="password" placeholder="Enter your password" style="width:90%; float: left;"/>
                                                    <button type="button" onclick="toggleInput();" style="padding: 0; background-color: white; width: 10%; border-left: none; float: right; height: 3rem; display: grid; border: 1px solid rgb(206, 212, 218); align-items: center; text-align: center; border-left: hidden;"><i class="show-pass far fa-eye fa-lg" style="color: grey; font-size: 1.5rem;"></i></button>
                                                </div>
                                            </div>
                                            <small><a href="/reset-password">Forgot password?</a></small>
                                            <div>
                                            </div>
                                            <div style="padding-top: 1rem;">
                                                <a id="form-submit" class="title-button glue-button--medium-emphasis" title="Log In" href="#" style="float: right;" onclick="document.forms['login-form'].submit();">
                                                    Sign In
                                                </a>
                                                <div class="form-check align-items-center">
                                                    <input id="customControlInline" type="checkbox" class="form-check-input" value="remember-me" name="remember-me" checked>
                                                    <label class="form-check-label text-small" for="customControlInline">Remember me</label>
                                                </div>
                                            </div>
                                            <p style="width: 50%; padding-top: 0.5rem;">Don't have an account? <a href="/register">Sign Up</a></p>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
<script src="{% static 'js/app.js' %}"></script>
<script>
  function toggleInput() {
    var x = document.getElementById("password-input");
    if (x.type === "password") {
    x.type = "text";
    } else {
    x.type = "password";
    }
  }
</script>
<script>
$(function() {
    $("form input").keypress(function (e) {
        if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {
            $('#form-submit').click();
            return false;
        } else {
            return true;
        }
    });
});

</script>
</html>
