{% load static %}
{% load account socialaccount %}
{% get_providers as socialaccount_providers %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up | CySuite</title>
    <link rel="icon" href="{% static 'img/icons/favicon.ico' %}" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.css">
    <link href="{% static 'css/alert.css' %}" rel="stylesheet">
    <link href="{% static 'css/auth.css' %}" rel="stylesheet">
    <script src="{% static 'js/app.js' %}"></script>
</head>
<body data-theme="default" data-layout="fluid" data-sidebar-position="left" data-sidebar-behavior="sticky">
    <div class="main d-flex justify-content-center w-100">
        <main class="content d-flex p-0">
            <div class="container d-flex flex-column">
                <center><a href="/"><img src="{% static 'img/logo/logo_footer.png' %}" style="width: 15rem; height: auto; padding-top: 3rem;"></a></center>
                <div class="row h-100" style="padding: 2rem 1rem 0 1rem;">
                    <div class="mx-auto d-table h-100" style="width: 90%; max-width: 800px; min-width: 70%;">
                        <div class="d-table-cell align-middle">
                            <div class="text-center mt-4">
                                <h1 class="h2" style="font-size: 2rem;">Get started</h1>
                                <p class="lead">
                                    Create an Account and start and start analyzing web targets today and at no cost.
                                </p>
                            </div>
                            <div class="card" style="height: fit-content;">
                                <div class="card-body">
                                    <div class="m-sm-4">
                                    <h4 style="text-align:center">Sign up using Social</h4>
                                    <div class="flex-c-m">
                                        <a href="#" class="login100-social-item bg1"><i class="fa fa-facebook"></i></a>
                                        <a href="#" class="login100-social-item bg2"><i class="fa fa-twitter"></i></a>
                                        <a href="{% provider_login_url 'google' %}" class="login100-social-item bg3"><i class="fa fa-google"></i></a>
                                    </div>
                                        <form method="post" id="login-form">
                                            {% csrf_token %}
                                            {% if registration_form.non_field_errors %}
                                            <div class="alert alert-danger alert-dismissible" role="alert">
                                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><i class="fa fa-times" style="font-size: 1.3rem; color:red; z-index: 2;"></i></button>
                                                <div class="alert-message">
                                                    <strong>{{registration_form.non_field_errors}}</strong>
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% for field in registration_form %}
                                            {% ifchanged field.errors %}
                                                {% for error in field.errors %}
                                                    <div class="alert alert-danger alert-dismissible" role="alert">
                                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><i class="fa fa-times" style="font-size: 1.3rem; color:red; z-index: 2;"></i></button>
                                                        <div class="alert-message">
                                                            <strong class="alert-text">{{error}}</strong>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            {% endifchanged %}
                                            {% endfor %}
                                            <div class="mb-3">
                                                <div class="row" style="display: flex;">
                                                    <div class="mb-3" style="width: 50%; float: left;">
                                                        <label class="form-label">First Name</label>
                                                        <input class="form-control form-control-lg" type="text" name="given_name" placeholder="First Name" />
                                                    </div>
                                                    <div class="mb-3" style="width: 50%; float: right;">
                                                        <label class="form-label">Last Name</label>
                                                        <input class="form-control form-control-lg" type="text" name="family_name" placeholder="Last Name" />
                                                    </div>
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label">Email</label>
                                                    <input class="form-control form-control-lg" type="text" name="email" placeholder="Email" />
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label">Username</label>
                                                    <input class="form-control form-control-lg" type="text" name="username" placeholder="Username" />
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label">Password</label>
                                                    <input class="form-control form-control-lg" type="password" name="password1" id="password1" placeholder="Enter password" />
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label">Confirm Password</label>
                                                    <input class="form-control form-control-lg" type="password" name="password2" id="password2" placeholder="Enter password again" />
                                                    <div style="width: 100%;">
                                                        <input type="checkbox" onclick="toggle()" style="margin-top: 1rem;">&nbsp;<span style="font-size: 13px; color: darkgrey;">Show Password</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="text-center mt-3" style="padding: 1rem 0 1rem 0;">
                                                <a id="form-submit" class="title-button glue-button--medium-emphasis" title="Create an Account" href="#" style="float: right;" onclick="document.forms['login-form'].submit();">
                                                    Sign Up
                                                </a>
                                            </div>
                                            <p>Already have an account? <a href="/login">Sign In</a></p>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
<script src="{% static 'js/app.js' %}"></script>
<script type="text/javascript">
    $(function() {
        $("form input").keypress(function (e) {
            if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {
                $('#form-submit').click();
                return false;
            } else {
                return true;
            }
        });
    });

    function toggle() {
        var x = document.getElementById("password1");
        var y = document.getElementById("password2");
        if (x.type === "password" && y.type === "password") {
            x.type = "text";
            y.type = "text";
        } else {
            x.type = "password";
            y.type = "password";
        }
    }
</script>
</html>