{% extends '../base.html' %}
{% load static %}
{% load socialaccount %}

{% block title%}
Dashboard | CySuite
{% endblock %}
{% block content %}
<div class="container-fluid p-0">
    <div class="row mb-2 mb-xl-3">
        <div class="col-auto d-none d-sm-block" style='width: 100%;'>
            <div class="card" style="padding: 1rem 0 1rem 0; background-color: white; box-shadow: 1px 3px 2px 0 rgb(0 0 200 / 10%); border: 1px ridge rgb(0 0 255 / 40%);">
		        <h2 style="padding-left: 15px; color: #293042; margin: 0;">Dashboard</h2>
	        </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-6 col-xxl d-flex">
            <div class="card illustration flex-fill">
                <div class="card-body p-0 d-flex flex-fill">
                    <div class="row g-0 w-100">
                        <div class="col-6">
                            <div class="illustration-text p-3 m-1">
                                <h4 class="illustration-text">Welcome Back, {{user.name}}!</h4>
                                <p class="mb-0">CySuite Dashboard</p>
                            </div>
                        </div>
                        <div class="col-6 align-self-end text-end">
                            <img src="{% static 'img/illustrations/customer-support.png' %}"
                                alt="Customer Support" class="img-fluid illustration-img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-xxl d-flex">
            <div class="card flex-fill">
                <div class="card-body py-4">
                    <div class="d-flex align-items-start">
                        <div class="flex-grow-1">
                            <h3 class="mb-2">{{asset_count}}</h3>
                            <p class="mb-2">Assets Analyzed</p>
                            <div class="mb-0">
                                <span class="badge badge-soft-success me-2"> <i
                                        class="mdi mdi-arrow-bottom-right"></i> 0.00% </span>
                                <span class="text-muted">Since last week</span>
                            </div>
                        </div>
                        <div class="d-inline-block ms-3">
                            <div class="stat">
                                <i class="align-middle text-success" data-feather="server"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-xxl d-flex">
            <div class="card flex-fill">
                <div class="card-body py-4">
                    <div class="d-flex align-items-start">
                        <div class="flex-grow-1">
                            <h3 class="mb-2">0</h3>
                            <p class="mb-2">Vulnerabilities Found</p>
                            <div class="mb-0">
                                <span class="badge badge-soft-danger me-2"> <i
                                        class="mdi mdi-arrow-bottom-right"></i> 0.00% </span>
                                <span class="text-muted">Since last week</span>
                            </div>
                        </div>
                        <div class="d-inline-block ms-3">
                            <div class="stat">
                                <i class="align-middle text-danger" data-feather="shield"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-xxl d-flex">
            <div class="card flex-fill">
                <div class="card-body py-4">
                    <div class="d-flex align-items-start">
                        <div class="flex-grow-1">
                            <h3 class="mb-2">{{subdomain_num}}</h3>
                            <p class="mb-2">Subdomains Scanned</p>
                            <div class="mb-0">
                                <span class="badge badge-soft-success me-2"> <i
                                        class="mdi mdi-arrow-bottom-right"></i> 0.00% </span>
                                <span class="text-muted">Since last week</span>
                            </div>
                        </div>
                        <div class="d-inline-block ms-3">
                            <div class="stat">
                                <i class="align-middle text-info" data-feather="activity"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row gx-2 gx-lg-3">
        <div class="col-lg-5 mb-3 mb-lg-5">
            <div class="card h-100">
                <div class="card-header">
                    <h3 class="card-header-title">Most Recent Projects</h3>
                </div>
                <div class="card-body">
                    <p>These are the most recent assets analyzed by the software. They include all the
                        relevant information regarding to the enumeration, vulnerability assessment and
                        exploitation of the asset.</p>

                    <ul class="list-group list-group-flush list-group-no-gutters">
                        <li class="list-group-item py-3">
                            <h5 class="modal-title">From latest:</h5>
                        </li>
                        <li class="list-group-item py-3">
                            <div class="media">
                                <div class="mt-1 mr-3">
                                    <img class="avatar avatar-xs avatar-4by3"
                                        src="{% static 'img/icons/capsule.svg' %}" alt="Image Description">
                                </div>
                                <div class="media-body">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <h5 class="mb-0">Starbucks</h5>
                                            <span class="d-block font-size-sm">Hackerone</span>
                                        </div>

                                        <div class="col-auto">
                                            <a class="btn btn-sm btn-primary" href="#"
                                                title="Launch importer" target="_blank">
                                                Open <span
                                                    class="d-none d-sm-inline-block">Report</span>
                                                <i class="tio-open-in-new ml-1"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item py-3">
                            <div class="media">
                                <div class="mt-1 mr-3">
                                    <img class="avatar avatar-xs avatar-4by3"
                                        src="{% static 'img/icons/mailchimp.svg' %}" alt="Image Description">
                                </div>
                                <div class="media-body">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <h5 class="mb-0">Mailchimp</h5>
                                            <span class="d-block font-size-sm">Hackerone</span>
                                        </div>

                                        <div class="col-auto">
                                            <a class="btn btn-sm btn-primary" href="#"
                                                title="Launch importer" target="_blank">
                                                Open <span
                                                    class="d-none d-sm-inline-block">Report</span>
                                                <i class="tio-open-in-new ml-1"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item py-3">
                            <div class="media">
                                <div class="mt-1 mr-3">
                                    <img class="avatar avatar-xs avatar-4by3"
                                        src="{% static 'img/icons/google-webdev.svg' %}">
                                </div>
                                <div class="media-body">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <h5 class="mb-0">Coda.io</h5>
                                            <span class="d-block font-size-sm">Hackerone</span>
                                        </div>

                                        <div class="col-auto">
                                            <a class="btn btn-sm btn-primary" href="#"
                                                title="Launch importer" target="_blank">
                                                Open <span
                                                    class="d-none d-sm-inline-block">Report</span>
                                                <i class="tio-open-in-new ml-1"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item"><small>Open the <a href='{% url 'projects' %}'>Projects</a> tab to see
                                the other projects.</small></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-7 mb-3 mb-lg-5">
            <div class="card h-100">
                <div class="card-header">
                    <h4 class="card-header-title">Latest Vulnerability Detections</h4>
                </div>
                <div class="card-body card-body-height">
                    <ul class="list-group list-group-flush list-group-no-gutters">
                        <li class="list-group-item">
                            <div class="media">
                                <div class="avatar avatar-sm avatar-soft-dark avatar-circle mr-3">
                                    <span class="avatar-initials">✓</span>
                                </div>
                                <div class="media-body">
                                    <div class="row">
                                        <div class="col-7 col-md-5 order-md-1">
                                            <h5 class="mb-0">Starbucks</h5>
                                            <span class="font-size-sm">Cross-site-scripting</span>
                                        </div>
                                        <div class="col-5 col-md-4 order-md-3 text-right mt-2 mt-md-0">
                                            <h5 class="mb-0">3 Counts</h5>
                                            <span class="font-size-sm">15 May, 2021</span>
                                        </div>
                                        <div class="col-auto col-md-3 order-md-2">
                                            <span class="badge badge-soft-warning badge-pill">Mid
                                                severity</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="media">
                                <div class="avatar avatar-sm avatar-soft-dark avatar-circle mr-3">
                                    <span class="avatar-initials">✓</span>
                                </div>
                                <div class="media-body">
                                    <div class="row">
                                        <div class="col-7 col-md-5 order-md-1">
                                            <h5 class="mb-0">Slack</h5>
                                            <span class="font-size-sm">Captcha bypass</span>
                                        </div>
                                        <div class="col-5 col-md-4 order-md-3 text-right mt-2 mt-md-0">
                                            <h5 class="mb-0">5 Counts</h5>
                                            <span class="font-size-sm">12 May, 2021</span>
                                        </div>
                                        <div class="col-auto col-md-3 order-md-2">
                                            <span class="badge badge-soft-success badge-pill">Low
                                                severity</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="media">
                                <div class="avatar avatar-sm avatar-soft-dark avatar-circle mr-3">
                                    <span class="avatar-initials">✓</span>
                                </div>
                                <div class="media-body">
                                    <div class="row">
                                        <div class="col-7 col-md-5 order-md-1">
                                            <h5 class="mb-0">Bank of America</h5>
                                            <span class="font-size-sm">DOM XSS</span>
                                        </div>
                                        <div class="col-5 col-md-4 order-md-3 text-right mt-2 mt-md-0">
                                            <h5 class="mb-0">4 Counts</h5>
                                            <span class="font-size-sm">10 June, 2021</span>
                                        </div>
                                        <div class="col-auto col-md-3 order-md-2">
                                            <span class="badge badge-soft-success badge-pill">Low
                                                severity</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="media">
                                <div class="avatar avatar-sm avatar-soft-dark avatar-circle mr-3">
                                    <span class="avatar-initials">✓</span>
                                </div>
                                <div class="media-body">
                                    <div class="row">
                                        <div class="col-7 col-md-5 order-md-1">
                                            <h5 class="mb-0">Spotify</h5>
                                            <span class="font-size-sm">Account Takeover</span>
                                        </div>
                                        <div class="col-5 col-md-4 order-md-3 text-right mt-2 mt-md-0">
                                            <h5 class="mb-0">1 Count</h5>
                                            <span class="font-size-sm">12 July, 2021</span>
                                        </div>
                                        <div class="col-auto col-md-3 order-md-2">
                                            <span class="badge badge-soft-danger badge-pill">High
                                                severity</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="media">
                                <div class="avatar avatar-sm avatar-soft-dark avatar-circle mr-3">
                                    <span class="avatar-initials">✓</span>
                                </div>
                                <div class="media-body">
                                    <div class="row">
                                        <div class="col-7 col-md-5 order-md-1">
                                            <h5 class="mb-0">Hackerone</h5>
                                            <span class="font-size-sm">Reflected XSS</span>
                                        </div>
                                        <div class="col-5 col-md-4 order-md-3 text-right mt-2 mt-md-0">
                                            <h5 class="mb-0">2 Counts</h5>
                                            <span class="font-size-sm">28 July, 2021</span>
                                        </div>
                                        <div class="col-auto col-md-3 order-md-2">
                                            <span class="badge badge-soft-success badge-pill">Low
                                                severity</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="media">
                                <div class="avatar avatar-sm avatar-soft-dark avatar-circle mr-3">
                                    <span class="avatar-initials">✓</span>
                                </div>
                                <div class="media-body">
                                    <div class="row">
                                        <div class="col-7 col-md-5 order-md-1">
                                            <h5 class="mb-0">Amazon</h5>
                                            <span class="font-size-sm">Open Redirect</span>
                                        </div>
                                        <div class="col-5 col-md-4 order-md-3 text-right mt-2 mt-md-0">
                                            <h5 class="mb-0">3 Counts</h5>
                                            <span class="font-size-sm">01 August, 2021</span>
                                        </div>
                                        <div class="col-auto col-md-3 order-md-2">
                                            <span class="badge badge-soft-success badge-pill">Low severity</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card flex-fill">
            <div class="card-header">
                <h4 class="card-title mb-0">Latest Notifications</h4>
            </div>
            <table id="datatables-dashboard-projects" class="table table-striped my-0">
                <thead>
                    <tr>
                        <th>Message</th>
                        <th class="d-none d-xl-table-cell">Date</th>
                        <th class="d-none d-xl-table-cell">Time</th>
                        <th>Status</th>
                        <th class="d-none d-md-table-cell">Platform</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Potential subdomain takeover on blog.teavana.com</td>
                        <td class="d-none d-xl-table-cell">05/09/2021</td>
                        <td class="d-none d-xl-table-cell">21:20:05</td>
                        <td><span class="badge bg-success">Sent</span></td>
                        <td class="d-none d-md-table-cell">Telegram</td>
                    </tr>
                    <tr>
                        <td>Asset starbucks.com added to scope</td>
                        <td class="d-none d-xl-table-cell">01/07/2021</td>
                        <td class="d-none d-xl-table-cell">21:20:05</td>
                        <td><span class="badge bg-danger">Failed</span></td>
                        <td class="d-none d-md-table-cell">Telegram</td>
                    </tr>
                    <tr>
                        <td>Blind XSS found on starbucks.com</td>
                        <td class="d-none d-xl-table-cell">05/09/2021</td>
                        <td class="d-none d-xl-table-cell">21:20:05</td>
                        <td><span class="badge bg-success">Sent</span></td>
                        <td class="d-none d-md-table-cell">XSS Hunter</td>
                    </tr>
                    <tr>
                        <td>Gobuster scan finished</td>
                        <td class="d-none d-xl-table-cell">05/09/2021</td>
                        <td class="d-none d-xl-table-cell">21:20:05</td>
                        <td><span class="badge bg-danger">Failed</span></td>
                        <td class="d-none d-md-table-cell">Slack</td>
                    </tr>
                    <tr>
                        <td>Parameter discovery finished</td>
                        <td class="d-none d-xl-table-cell">05/09/2021</td>
                        <td class="d-none d-xl-table-cell">21:20:05</td>
                        <td><span class="badge bg-success">Sent</span></td>
                        <td class="d-none d-md-table-cell">Telegram</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}