{% extends '../base.html' %}
{% load static %}
{% load custom_tags %}
{% block title%}
Directory Enumeration | CySuite
{% endblock %}
{% block content %}
{% if is_project == 'False'%}
<div class="card" style="padding: 1rem 0 1rem 0; background-color: white; box-shadow: 1px 3px 2px 0 rgb(50 0 128 / 10%); border: 1px ridge #3E4261; width: 100%;">
	<h2 style="padding-left: 15px; color: #293042; margin: 0;">Enumarate Directories</h2>
</div>
<div class="alert alert-warning" style="margin-bottom: 2rem;">
	<div class="alert-message">
		<p class="mb-0"><strong>No project chosen!</strong> Start one from the <a
				href="projects.html">Projects</a> tab and scan directories to see the list.</p>
	</div>
</div>
{% else %}
<div class="card" style="padding: 1rem 0 1rem 0; background-color: white; box-shadow: 1px 3px 2px 0 rgb(62 66 97 / 10%); border: 1px ridge #3E4261; width: 100%;">
    <h2 style="padding-left: 15px; color: #293042; margin: 0;">Enumerate Directories</h2>
</div>
<div class="card">
	<div class="card-header pb-0" style="display: block; width: auto; text-align: center;">
		<div class="alert alert-primary alert-outline alert-dismissible" style="margin: 0 2rem 2rem 0; width: 100%;">
			<div class="alert-icon">
				<i class="fa fa-book"></i>
			</div>
			<select class="dropdown-icon flex-grow-1" id="select-project" onchange="val();">
				{% for project in projects %}
				<option>{{project}}</option>
				{% endfor %}
			</select>
		</div>
		<div class="alert alert-primary alert-outline alert-dismissible" style="margin: 0 2rem 0 0; width: 100%; height: 50px;">
			<div class="alert-icon" style="height: 50px;">
				<i class="fa fa-globe"></i>
			</div>
			<select class="dropdown-icon flex-grow-1" id="subdomain-group" style="width: 100%;" onchange="showdirs();">
			<optgroup id="project-group">
				{{project}}
				{% for value in subdomains %}
					<option>{{value}}</option>
				{% endfor %}
			</optgroup>
			</select>
			<button class="btn btn-primary" onclick="scan_details();" style="margin: 0 0 2rem 20px; width: 20%; height: 100%; font-size: 0.9rem;" type="button"><i class="fa fa-bug"></i>&emsp;Scan</button>
		</div>
	</div>
	<div class="card-body">
		<div class="form-floating">
			<table id="directories">
				<tr>
					<th>Directory</th>
					<th>Status Code</th>
					<th>Parameters</th>
					<th>Accepts</th>
					<th>Vulnerabilities Discovered</th>
				</tr>
				{% for directory in directories %}
					<tr>
						<td><a href="{{directory}}">{{directory}}</a></td>
						<td>200 OK</td>
						<td>utm_medium, id, user</td>
						<td>HTTP/HTTPS</td>
						<td>SQL</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
	<div style="width:100%; padding: 1rem;">
		<button class="btn btn-primary save-btn" style="min-height: 45px; width: auto; float: right; font-size: 0.9rem;" type="button"><i class="fa fa-table"></i>&emsp;Download as CSV</button>
	</div>
</div>
<div class="input-group mb-3">
	<input class="form-select flex-grow-1">
	<button class="btn btn-primary" type="button">Search</button>
</div>
{% block js %}
<script>
	function scan_details() {
		var token = '{{csrf_token}}';
		var project = document.getElementById("select-project").value
		var subdomain = document.getElementById("subdomain-group").value
		$.ajax({
			headers: { "X-CSRFToken": token },
			type: 'POST',
			data: {"scan": true, "project": project, "subdomain": subdomain},
			success: function(response){
				window.location.reload(false);
                var selectbox = document.getElementById("subdomain-group");
				selectbox.options.length = 0;
				var directory_entry = document.getElementById("directory-column");

				var project = responseMsg['project_name'];
				var subdomain_list = responseMsg['subdomain_list'];
				var chosen_subdomain = responseMsg['chosen_subdomain'];
				var directories = responseMsg['directories'];

				for (i = 0; i < document.getElementById("select-project").length; ++i){
					if (document.getElementById("select-project").options[i].value == project){
						document.getElementById("select-project").options[i].selected = true
					}
				}

				for (var j = 0; j < subdomain_list.length; j++){
					var newOptionElement = document.createElement('option');
					newOptionElement.value = subdomain_list[j];
					newOptionElement.innerHTML = subdomain_list[j];
					selectbox.appendChild(newOptionElement);
					if (subdomain_list[j] == chosen_subdomain) {
						newOptionElement.selected = true
					}
				}

				var table = document.getElementById("directories");
				for(var i = 1;i<table.rows.length;){
					table.deleteRow(i);
				}

				let myTable = document.getElementById('directories').getElementsByTagName('tbody')[0];
				for (var j = 0; j < directories.length; j++){
					let row = myTable.insertRow();

					let directory = row.insertCell(0);
					let status = row.insertCell(1);
					let parameters = row.insertCell(2);
					let accepts = row.insertCell(3);
					let vulns = row.insertCell(4);

					directory.innerHTML = `<a href="${directories[j]}">${directories[j]}</a>`;
					status.innerHTML = '200 OK';
					parameters.innerHTML = 'utm_medium, id, user';
					accepts.innerHTML = 'HTTP/HTTPS';
					vulns.innerHTML = 'SQL';
				}
			}
		});
	}
</script>
<script type="text/javascript">
	var token = '{{csrf_token}}';
	function val() {
		d = document.getElementById("select-project").value;
		var s = document.getElementById('project-group');
		s.label = d;
		$.ajax({
			headers: { "X-CSRFToken": token },
			url: '{% url 'directory_enum' %}',
			data: {"project": d},
			type: 'POST',
		}).done(function( responseMsg ) {
			window.location.reload(false);
			var selectbox = document.getElementById("subdomain-group");
			selectbox.options.length = 0;
			var directory_entry = document.getElementById("directory-column");

			var project = responseMsg['project_name'];
			var subdomain_list = responseMsg['subdomain_list'];
			var chosen_subdomain = responseMsg['chosen_subdomain'];
			var directories = responseMsg['directories'];

			for (i = 0; i < document.getElementById("select-project").length; ++i){
				if (document.getElementById("select-project").options[i].value == project){
					document.getElementById("select-project").options[i].selected = true
				}
			}

			for (var j = 0; j < subdomain_list.length; j++){
				var newOptionElement = document.createElement('option');
				newOptionElement.value = subdomain_list[j];
				newOptionElement.innerHTML = subdomain_list[j];
				selectbox.appendChild(newOptionElement);
				if (subdomain_list[j] == chosen_subdomain) {
					newOptionElement.selected = true
				}
			}

			var table = document.getElementById("directories");
			for(var i = 1;i<table.rows.length;){
				table.deleteRow(i);
			}

			let myTable = document.getElementById('directories').getElementsByTagName('tbody')[0];
			for (var j = 0; j < directories.length; j++){
				let row = myTable.insertRow();

				let directory = row.insertCell(0);
				let status = row.insertCell(1);
				let parameters = row.insertCell(2);
				let accepts = row.insertCell(3);
				let vulns = row.insertCell(4);

				directory.innerHTML = `<a href="${directories[j]}">${directories[j]}</a>`;
				status.innerHTML = '200 OK';
				parameters.innerHTML = 'utm_medium, id, user';
				accepts.innerHTML = 'HTTP/HTTPS';
				vulns.innerHTML = 'SQL';
			}
		});
	}

	function showdirs(){
		var subdomain = document.getElementById("subdomain-group").value;
		$.ajax({
			headers: { "X-CSRFToken": token },
			url: '{% url 'directory_enum' %}',
			data: {"show": subdomain},
			type: 'POST',
		}).done(function( responseMsg ) {
			window.location.reload(false);
			var selectbox = document.getElementById("subdomain-group");
			selectbox.options.length = 0;
			var directory_entry = document.getElementById("directory-column");

			var project = responseMsg['project_name'];
			var subdomain_list = responseMsg['subdomain_list'];
			var chosen_subdomain = responseMsg['chosen_subdomain'];
			var directories = responseMsg['directories'];

			for (i = 0; i < document.getElementById("select-project").length; ++i){
				if (document.getElementById("select-project").options[i].value == project){
					document.getElementById("select-project").options[i].selected = true
				}
			}

			for (var j = 0; j < subdomain_list.length; j++){
				var newOptionElement = document.createElement('option');
				newOptionElement.value = subdomain_list[j];
				newOptionElement.innerHTML = subdomain_list[j];
				selectbox.appendChild(newOptionElement);
				if (subdomain_list[j] == chosen_subdomain) {
					newOptionElement.selected = true
				}
			}

			var table = document.getElementById("directories");
			for(var i = 1;i<table.rows.length;){
				table.deleteRow(i);
			}

			let myTable = document.getElementById('directories').getElementsByTagName('tbody')[0];
			for (var j = 0; j < directories.length; j++){
				let row = myTable.insertRow();

				let directory = row.insertCell(0);
				let status = row.insertCell(1);
				let parameters = row.insertCell(2);
				let accepts = row.insertCell(3);
				let vulns = row.insertCell(4);

				directory.innerHTML = `<a href="${directories[j]}">${directories[j]}</a>`;
				status.innerHTML = '200 OK';
				parameters.innerHTML = 'utm_medium, id, user';
				accepts.innerHTML = 'HTTP/HTTPS';
				vulns.innerHTML = 'SQL';
			}
		})
	}
</script>
<script>
	$(document).ready(function() {
		var project = '{{project}}';
		function htmlDecode(str) {
			const doc = new DOMParser().parseFromString(str, "text/html");
			return doc.documentElement.textContent;
		}

		var subdomains = [];
		var mylist = '{{subdomains}}'.split(',');
		for(i = 0; i < mylist.length; i++){
			subdomains.push(htmlDecode(mylist[i]).replace("[", "").replace("]", "").replace("'", ""));
		};

		for (i = 0; i < document.getElementById("select-project").length; ++i){
			if (document.getElementById("select-project").options[i].value == project){
				document.getElementById("select-project").options[i].selected = true
			}
		}

		d = document.getElementById("select-project").value;
		var s = document.getElementById('project-group');
		s.label = project;
	});
</script>
<script>
	$(document).ready(function(){
		if (numPages > 1){
			$('#directories').after('<div id="nav" style="background-color: #3E4261;height: 45px;width: 100%; display: flex; align-items: center;"></div>');
		}
		var rowsShown = 20;
		var rowsTotal = $('#directories tbody tr').length;
		var numPages = rowsTotal/rowsShown;
		if (numPages > 1){
			for(i = 0;i < numPages;i++) {
				var pageNum = i + 1;
				$('#nav').append('<a href="#" style="color: white; padding: 0 1.7rem 0 1.7rem; height: 100%; text-align: center; display: flex; align-items: center; border: 1px solid lightgray;" rel="'+i+'">'+pageNum+'</a> ');
			}
		}
		$('#directories tbody tr').hide();
		$('#directories tbody tr').slice(0, rowsShown).show();
		$('#nav a:first').addClass('active');
		$('#nav a').bind('click', function(){
			$('#nav a').removeClass('active');
			$(this).addClass('active');
			var currPage = $(this).attr('rel');
			var startItem = currPage * rowsShown;
			var endItem = startItem + rowsShown;
			$('#directories tbody tr').css('opacity','0.0').hide().slice(startItem, endItem).
					css('display','table-row').animate({opacity:1}, 300);
			$('#directories tbody tr').css('opacity','1.0').slice(0, 1).show();
		});
	});
</script>
{% endblock %}
{% endif %}
{% endblock %}