{% extends '../base.html' %}
{% load static %}
{% load custom_tags %}
{% block title%}
Directory Enumeration | CySuite
{% endblock %}
{% block content %}
{% if is_project == 'False'%}
<div class="card" style="padding: 1rem 0 1rem 0; background-color: white; box-shadow: 1px 3px 2px 0 rgb(50 0 128 / 10%); border: 1px ridge #3E4261; width: 100%;">
	<h2 style="padding-left: 15px; color: #293042; margin: 0;">Enumarate Directories</h2>
</div>
<div class="alert alert-warning" style="margin-bottom: 2rem;">
	<div class="alert-message">
		<p class="mb-0"><strong>No project chosen!</strong> Start one from the <a
				href="projects.html">Projects</a> tab and scan directories to see the list.</p>
	</div>
</div>
{% else %}
<div class="card" style="padding: 1rem 0 1rem 0; background-color: white; box-shadow: 1px 3px 2px 0 rgb(62 66 97 / 10%); border: 1px ridge #3E4261; width: 100%;">
    <h2 style="padding-left: 15px; color: #293042; margin: 0;">Enumerate Directories</h2>
</div>
<div class="card">
	<div class="card-header pb-0" style="display: block; width: auto; text-align: center;">
		<div class="alert alert-primary alert-outline alert-dismissible" style="margin: 0 2rem 2rem 0; width: 100%;">
			<div class="alert-icon">
				<i class="fa fa-book"></i>
			</div>
			<select class="dropdown-icon flex-grow-1" id="select-project" onchange="val()">
				{% for project in projects %}
				<option>{{project}}</option>
				{% endfor %}
			</select>
		</div>
		<div class="alert alert-primary alert-outline alert-dismissible" style="margin: 0 2rem 0 0; width: 100%;">
			<div class="alert-icon">
				<i class="fa fa-globe"></i>
			</div>
			<select class="dropdown-icon flex-grow-1" id="subdomain-group" style="width: 100%;">
			<optgroup id="project-group">
				{% for value in subdomains %}
					<option>{{value}}</option>
				{% endfor %}
			</optgroup>
			</select>
		</div>
	</div>
	<div class="card-body">
		<div class="form-floating">
			<table id="directories">
				<tr>
					<th>Directory</th>
					<th>Status Code</th>
					<th>Parameters</th>
					<th>Accepts</th>
					<th>Vulnerabilities Discovered</th>
				</tr>
				<tr>
					<td>https://coda.io/home</td>
					<td>200 OK</td>
					<td>id, utm_medium</td>
					<td>HTTP/HTTPS</td>
					<td>SQL</td>
				</tr>
			</table>
		</div>
	</div>
	<div style="width:100%; padding-right: 1.25rem; padding-bottom: 1.25rem;">
		<button class="btn btn-primary" style="margin: 0 0 2rem 20px; min-height: 54px; width: 12rem" type="button"><i class="fa fa-bug"></i>&emsp;Active (Crawl)</button>
		<button class="btn btn-primary" style="margin: 0 0 2rem 20px; min-height: 54px; width: 12rem;" type="button"><i class="fa fa-archive"></i>&emsp;Passive (Archives)</button>
		<button class="btn btn-primary" style="margin: 0 0 2rem 20px; min-height: 54px; width: 12rem" type="button"><i class="fa fa-cog"></i>&emsp;Bruteforce</button>
		<button class="btn btn-primary save-btn" style="min-height: 54px; width: 12rem; float: right;" type="button"><i class="fa fa-save" style="font-size: 20px;"></i>&emsp;Save</button>
	</div>
</div>
<div class="input-group mb-3">
	<input class="form-select flex-grow-1">
	<button class="btn btn-primary" type="button">Search</button>
</div>
{% block js %}
<script type="text/javascript">
	var token = '{{csrf_token}}';
	function val() {
		d = document.getElementById("select-project").value;
		var s = document.getElementById('project-group');
		s.label = d;
		$.ajax({
			headers: { "X-CSRFToken": token },
			url: '{% url 'directory_enum' %}',
			data: {"project": d},
			type: 'POST',
		}).done(function( responseMsg ) {
			var selectbox = document.getElementById("subdomain-group");
			selectbox.options.length = 0;

			for (var j = 0; j < responseMsg.length; j++){
				var newOptionElement = document.createElement('option');
				newOptionElement.value = responseMsg[j];
				newOptionElement.innerHTML = responseMsg[j];
				selectbox.appendChild(newOptionElement);
			}
			});
	}

	$(document).ready(function() {
		var project = '{{project}}';
		function htmlDecode(str) {
			const doc = new DOMParser().parseFromString(str, "text/html");
			return doc.documentElement.textContent;
		}

		var subdomains = [];
		var mylist = '{{subdomains}}'.split(',');
		for(i = 0; i < mylist.length; i++){
			subdomains.push(htmlDecode(mylist[i]).replace("[", "").replace("]", "").replace("'", ""));
		};

		for (i = 0; i < document.getElementById("select-project").length; ++i){
			if (document.getElementById("select-project").options[i].value == project){
				document.getElementById("select-project").options[i].selected = true
			}
		}


		d = document.getElementById("select-project").value;
		var s = document.getElementById('project-group');
		s.label = project;
	});
</script>
{% endblock %}
{% endif %}
{% endblock %}