{% extends '../base.html' %}
{% load static %}
{% block title%}
Dorking | CySuite
{% endblock %}
{% block content %}
<h1 class="h3 mb-3">Run a Dork</h1>
<div class="card">
	<div class="card-header pb-0">        
		<h5>Github Repos / Subdomain for Information Disclosures</h5>
	</div>
	<div class="card-body">
		<div class="form-floating mb-3 input-group">
			<span class="input-group-text" style="max-height: 3rem; border-radius: 0 0 0 0;">http://</span>
			<input type="email" class="form-control" id="floatingInput1" style="font-size:1.2rem !important; max-height: 3rem;">
			<button class="btn btn-primary" style="padding: 0 2rem 0 2rem; border-radius: 0 0 0 0;">Enter</button>
		</div>
		<textarea class="form-control" id="floatingTextarea1" style="min-height: 500px"></textarea>
		<label for="floatingTextarea1" style="font-size: 1rem;"></label>
	</div>
</div>
{% endblock %}