{% extends '../base.html' %}
{% load static %}
{% block title%}
File Upload | CySuite
{% endblock %}
{% block content %}
<div class="tab-pane" id="password" role="tabpanel">
	<h3>Code Injection</h3>
	<div class="card">
		<div class="card-body">
			<h6 class="card-title">Payload:</h6>
			<form>
				<div style="padding-left: 10px;">
					<div class="row">
					<div class="input-resizer">
						<input type="password" class="form-control">
						<code>Example: &lt;?php system("cat /etc/passwd");?&gt;</code>
						<div class="mb-3 mt-2">
							<h4>Download: <a href="">example.php.png</a></h4>
						</div>
					</div>
					<div class="button-resizer">
						<button type="submit" class="btn btn-primary" style="min-height: 40px; max-height: 40px; line-height: 2rem;">Inject payload</button>
					</div>
					<div class="row">
				</div>
			</form>

		</div>
	</div>
</div>

<div class="card">
	<div class="card-body">
		<table class="table table-lg my-2">
			<tbody>
				<tr>
					<th><h4>Your IP</h4></th>
					<td><code style="font-size: 0.9rem;">176.232.11.2</code></td>
				</tr>
				<tr>
					<th><h4>Status</h4></th>
					<td><span class="badge bg-success">Uploaded</span></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
{% endblock %}