{% load static %}
{% load account %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="{% static 'img/icons/favicon.ico' %}" type="image/x-icon" />
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.css">
        <link href="{% static 'css/theme.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/light.css' %}" rel="stylesheet">
    </head>
    <body data-theme="default" data-layout="fluid" data-sidebar-position="left" data-sidebar-behavior="sticky">
        <nav class="navbar navbar-expand navbar-light navbar-bg">
            <a href="/"><img src="{% static 'img/logo/logo_footer.png' %}" alt="CySuite" style="height: 30px; width: auto;"></a>
            <form class="d-none d-sm-inline-block">
                <div class="input-group input-group-navbar">
                    <input type="text" class="form-control" placeholder="Search projects…" aria-label="Search">
                    <button class="btn" type="button">
                        <i class="align-middle" data-feather="search"></i>
                    </button>
                </div>
            </form>
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav navbar-align">
                    <li class="nav-item dropdown">
                        <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#"
                            data-bs-toggle="dropdown">
                            <i class="align-middle" data-feather="settings"></i>
                        </a>
                        <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#"
                            data-bs-toggle="dropdown">
                            <img src="https://cysuite-bucket.s3.us-west-2.amazonaws.com/media/profiles/{{user.image}}" class="avatar img-fluid rounded-circle me-1"
                                alt="Profile name" style="border-radius: 100% !important; width: 45px; height: 45px; object-fit: cover;"/> <span class="text-dark">{% if user.first_name == None and user.first_name %}You{% else %}{{user.first_name}}&nbsp;{{user.last_name}}{% endif %}</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" href="/profile">Profile</a>
                            <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="wrapper">
            <main class="content">
                <div class="container-fluid p-0">
                    <div class="card" style="min-height: 500px">
                        <div class="card-header" style="display: block;">
                            <h2 class="mb-0">Link a Repository</h2>
                        </div>
                        <div class="row">
                            <div style="float: left; width: 33.33%;">
                            </div>
                            <div style="float: left;width: 33.33%; position: relative;">
                            {% if messages %}
                                {% for message in messages %}
                                    {% if 'successfully!' in message.message %}
                                        <button style="display: none;" class="alert-popup" id="alert-success" name="{{message}}" value="success"></button>
                                    {% else %}
                                        <button style="display: none;" class="alert-popup" id="alert-warning" name="{{message}}" value="warning"></button>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                                <label class="btn btn-primary btn-sm" style="font-size: 0.9rem; max-height: 3rem; width: 100%; position: absolute; bottom: 0; margin-bottom: 0;">
                                <input type="file" accept="text/plain" name="wordlist" onchange="form.submit()" hidden />
                                    <i class="fa fa-upload"></i>&nbsp;Upload
                                </label>
                            </form>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th style="width:40%;">Name</th>
                                        <th style="width:25%">Source</th>
                                        <th class="d-none d-md-table-cell" style="width:25%">Function</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% if success_message %}
                                    <button style="display: none;" class="alert-popup" id="alert-success" name="{{success_message}}" value="success"></button>
                                {% endif %}
                                    <tr>
                                        <td><a href="/media/rockyou.txt" target="_blank">rockyou.txt</a></td>
                                        <td>Kaggle</td>
                                        <td class="d-none d-md-table-cell">Password list</td>
                                        <td class="table-action" style="text-align:center">
                                        <form method="post" id="rockyou_txt">
                                        {% csrf_token %}
                                            <input type="text" name="preview" value="/media/rockyou.txt" hidden />
                                            <a href="javascript:$('#rockyou_txt').submit();"><i class="align-middle" data-feather="eye"></i></a>
                                        </form>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><a href="/media/all.txt" target="_blank">all.txt</a></td>
                                        <td>JHaddix</td>
                                        <td class="d-none d-md-table-cell">Directory list</td>
                                        <td class="table-action" style="text-align:center">
                                        <form method="post" id="all_txt">
                                        {% csrf_token %}
                                            <input type="text" name="preview" value="/media/all.txt" hidden />
                                            <a href="javascript:$('#all_txt').submit();"><i class="align-middle" data-feather="eye"></i></a>
                                        </form>
                                        </td>
                                    </tr>
                                    {% for key, value in wordlist_list.items %}
                                    <tr>
                                        <td><a href="{{value}}" target="_blank">{{key}}</td>
                                        <td>Custom</td>
                                        <td class="d-none d-md-table-cell">Wordlist</td>
                                        <td class="table-action" style="text-align:center;">
                                            <a href="#" onclick="previewWordlist({{forloop.counter}}); return false;"><i class="align-middle" data-feather="eye"></i></a>
                                            <a href="" onclick="deleteWordlist({{forloop.counter}});"><i class="align-middle" data-feather="trash"></i></a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        {% include 'partials/_footer.html' %}
        <script src="{% static 'js/app.js' %}"></script>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                $("#datatables-dashboard-projects").DataTable({
                    pageLength: 10,
                    responsive: true
                });
                });

            document.addEventListener("DOMContentLoaded", function (m) {
                var message = document.querySelector(".alert-popup").name;
                var type = document.querySelector("#alert-success").value;
                var duration = 5000;
                var ripple = true;
                var dismissible = true;
                var positionY = "top";
                window.notyf.open({type, message, duration, ripple, dismissible, positionY});
                });

            document.addEventListener("DOMContentLoaded", function (m) {
                var message = document.querySelector(".alert-popup").name;
                var type = document.querySelector("#alert-danger").value;
                var duration = 5000;
                var ripple = true;
                var dismissible = true;
                var positionY = "top";
                window.notyf.open({type, message, duration, ripple, dismissible, positionY});
                });

            document.addEventListener("DOMContentLoaded", function (m) {
                var message = document.querySelector(".alert-popup").name;
                var type = document.querySelector("#alert-warning").value;
                var duration = 5000;
                var ripple = true;
                var dismissible = true;
                var positionY = "top";
                window.notyf.open({type, message, duration, ripple, dismissible, positionY});
                });
        </script>
    </body>
</html>
