{% load static %}
{% load account %}
{% load account socialaccount %}
{% get_providers as socialaccount_providers %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="{% static 'img/icons/favicon.ico' %}" type="image/x-icon" />
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.css">
        <link href="{% static 'css/theme.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/light.css' %}" rel="stylesheet">
    </head>
    <body data-theme="default" data-layout="fluid" data-sidebar-position="left" data-sidebar-behavior="sticky">
        <nav class="navbar navbar-expand navbar-light navbar-bg">
            <a href="/"><img src="{% static 'img/logo/logo_footer.png' %}" alt="CySuite" style="height: 30px; width: auto;"></a>
            <form class="d-none d-sm-inline-block">
                <div class="input-group input-group-navbar">
                    <input type="text" class="form-control" placeholder="Search projects…" aria-label="Search">
                    <button class="btn" type="button">
                        <i class="align-middle" data-feather="search"></i>
                    </button>
                </div>
            </form>
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav navbar-align">
                    <li class="nav-item dropdown">
                        <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#"
                            data-bs-toggle="dropdown">
                            <i class="align-middle" data-feather="settings"></i>
                        </a>
                        <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#"
                            data-bs-toggle="dropdown">
                            <img src="https://cysuite-bucket.s3.us-west-2.amazonaws.com/media/profiles/{{user.image}}" class="avatar img-fluid rounded-circle me-1"
                                alt="Profile name" style="border-radius: 100% !important; width: 45px; height: 45px; object-fit: cover;"/> <span class="text-dark">{% if user.first_name == None and user.first_name %}You{% else %}{{user.first_name}}&nbsp;{{user.last_name}}{% endif %}</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" href="/profile">Profile</a>
                            <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="wrapper">
            <main class="content">
                <div class="container-fluid p-0">
                    <div class="card" style="min-height: 500px">
                        <div class="card-header" style="display: block; padding: 40px 40px 20px 40px;">
                            <h2 class="mb-0">Link a Repository</h2>
                        </div>
                        <div class="row" style="padding: 0 30px 30px 30px;;">
                            <div style="float:left; width: 50%;">
                                <div class="max-w-md md:max-w-2xl px-2" style="float:left;padding: 10px 0 10px 0;border: 1px solid grey;border-radius: 10px;margin: 20px;">
                                    <div class="bg-white rounded-lg overflow-hidden md:flex">
                                        <div class="bg-cover bg-bottom h-56 md:h-auto md:w-56" style="background-image: url(https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png); object-fit: fill;zoom: 0.8;">
                                        </div>
                                        <div>
                                            <div class="md:p-5" style="padding: 0.2rem;">
                                                <p class="font-bold text-xl md:text-2xl">Github</p>
                                                <p class="text-gray-700">Link your GitHub account to access your repositories for scanning.</p>
                                            </div>
                                            <div class="md:p-5 bg-gray-100" style="padding: 0.8rem;">
                                                <div class="sm:flex sm:justify-between sm:items-center">
                                                    <div>
                                                        <div class="text-lg text-gray-700"><span class="text-gray-900 font-bold">Add a Github action to your project</span> *</div>
                                                        <div class="flex items-center">
                                                            <div class="flex inline-flex -mx-px">                                   
                                                            </div>
                                                            <div class="text-gray-600 ml-2 text-sm md:text-base mt-1">* Feature only available to Pro members</div>
                                                        </div>
                                                    </div>
                                                    {% if repo_linked and social_provider == 'Github' %}
                                                    <button class="btn btn-primary" style="min-height: 40px; width: 8rem; background-color: grey; border: none;">Linked</button>
                                                    {% else %}
                                                    <a href="{% provider_login_url 'github' %}"><button class="btn btn-primary" style="min-height: 40px; width: 8rem;">Link</button></a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="max-w-md md:max-w-2xl px-2" style="float:left;padding: 10px 0 10px 0;border: 1px solid grey;border-radius: 10px;margin: 20px;">
                                    <div class="bg-white rounded-lg overflow-hidden md:flex">
                                        <div class="bg-cover bg-bottom h-56 md:h-auto md:w-56" style="background-image: url(https://about.gitlab.com/images/press/logo/png/gitlab-icon-rgb.png); object-fit: fill;zoom: 0.8;">
                                        </div>
                                        <div>
                                            <div class="md:p-5" style="padding: 0.2rem;">
                                                <p class="font-bold text-xl md:text-2xl">Gitlab</p>
                                                <p class="text-gray-700">Link your GitLab account to access your repositories for scanning.</p>
                                            </div>
                                            <div class="md:p-5 bg-gray-100" style="padding: 0.8rem;">
                                                <div class="sm:flex sm:justify-between sm:items-center">
                                                    <div>
                                                        <div class="text-lg text-gray-700"><span class="text-gray-900 font-bold">Add a GitLab action to your project</span> *</div>
                                                        <div class="flex items-center">
                                                            <div class="flex inline-flex -mx-px">                                   
                                                            </div>
                                                            <div class="text-gray-600 ml-2 text-sm md:text-base mt-1">* Feature only available to Pro members</div>
                                                        </div>
                                                    </div>
                                                    {% if repo_linked and social_provider == 'Gitlab' %}
                                                    <button class="btn btn-primary" style="min-height: 40px; width: 8rem; background-color: grey; border: none;">Linked</button>
                                                    {% else %}
                                                    <a href="{% provider_login_url 'gitlab' %}"><button class="btn btn-primary" style="min-height: 40px; width: 8rem;">Link</button></a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="float: right; width: 50%; padding-top: 20px; border-radius: 30px;">
                                {% if repo_linked %}
                                <div class="scroller">
                                    <ul class="cards">
                                    {% for repo_item in repo_items %}
                                    <li><a href="" class="repo_card">
                                        <img src="https://github.githubassets.com/images/modules/open_graph/github-logo.png" class="repo_card_image" alt=""/>
                                        <div class="repo_card_overlay">        
                                        <div class="repo_card_header">
                                            <svg class="repo_card_arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                 
                                            <img class="repo_card_thumb" src="{{profile_img}}" alt="" />
                                            <div class="repo_card_header-text">
                                            <span class="text-gray-900 font-bold">{{repo_item.name}}</span><br/>
                                            <span class="text-gray-900 font-bold">Owner: {{repo_item.owner}}</span><br/>
                                            <span class="text-gray-900 font-bold">Stars: {{repo_item.stars}}</span>
                                            </div>
                                        </div>
                                        <p class="text-gray-900 font-bold">{{repo_item.description}}</p>
                                        </div>
                                    </a></li>
                                    {% endfor %}
                                    </ul>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        {% include 'partials/_footer.html' %}
        <script src="{% static 'js/app.js' %}"></script>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                $("#datatables-dashboard-projects").DataTable({
                    pageLength: 10,
                    responsive: true
                });
                });

            document.addEventListener("DOMContentLoaded", function (m) {
                var message = document.querySelector(".alert-popup").name;
                var type = document.querySelector("#alert-success").value;
                var duration = 5000;
                var ripple = true;
                var dismissible = true;
                var positionY = "top";
                window.notyf.open({type, message, duration, ripple, dismissible, positionY});
                });

            document.addEventListener("DOMContentLoaded", function (m) {
                var message = document.querySelector(".alert-popup").name;
                var type = document.querySelector("#alert-danger").value;
                var duration = 5000;
                var ripple = true;
                var dismissible = true;
                var positionY = "top";
                window.notyf.open({type, message, duration, ripple, dismissible, positionY});
                });

            document.addEventListener("DOMContentLoaded", function (m) {
                var message = document.querySelector(".alert-popup").name;
                var type = document.querySelector("#alert-warning").value;
                var duration = 5000;
                var ripple = true;
                var dismissible = true;
                var positionY = "top";
                window.notyf.open({type, message, duration, ripple, dismissible, positionY});
                });
        </script>
    </body>
</html>
