{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Notes</title>
        <link rel="icon" href="{% static 'img/icons/favicon.ico' %}" type="image/x-icon" />
        <link href="{% static 'css/blog.css' %}" rel="stylesheet" />
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto py-4 py-lg-0">
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/dashboard">Dashboard</a></li>
                </ul>
            </div>
        </nav>
        <header class="masthead" style="background-image: url({% static 'img/illustrations/home-bg.jpg' %})">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h2 style="font-size: 50px;">Cybersecurity Archived</h2>
                            <span class="subheading">A compilation of different web vulnerabilities, proof of concepts and their mitigations.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-8">
                    <div class="post-preview">
                        <a href="posts/post1.html">
                            <h2 class="post-title">HTTP Parameter Pollution</h2>
                            <h3 class="post-subtitle">Parameter injection strategies and techniques.</h3>
                        </a>
                    </div>
                    <hr class="my-4" />
                    <div class="post-preview">
                        <a href="posts/post1.html">
                            <h2 class="post-title">HTTP Parameter Pollution</h2>
                            <h3 class="post-subtitle">Parameter injection strategies and techniques.</h3>
                        </a>
                    </div>
                    <hr class="my-4" />
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
                </div>
            </div>
        </div>
        <div style="height: 100px;"></div>
    </body>
</html>