{% extends '../base.html' %}
{% load static %}
{% load account %}


{% block title%}
Profile | CySuite
{% endblock %}
{% block content %}
<div class="container-fluid p-0">
    <div class="row">
        <div class="col-md-4 col-xl-3">
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="card-title mb-0">Profile Details</h5>
                </div>
                <div class="card-body text-center">
                        {% if success_message %}
                            <button style="display: none;" class="alert-popup" id="alert-success" name="{{success_message}}" value="success"></button>
                        {% endif %}
                        {% if error_message %}
                            <button style="display: none;" class="alert-popup" id="alert-danger" name="{{error_message}}" value="danger"></button>
                        {% endif %}
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <img src="{{profile_account.image.url}}" alt="Profile image" class="img-fluid rounded-circle mb-2" width="128" height="128" />
                        <h5 class="card-title mb-2">{{user.given_name}}&nbsp;{{user.family_name}}</h5>
                        <input type="file" name="image" accept="image/*" class=" btn-upload mb-2" style="width: -webkit-fill-available;">
                        <button class="btn btn-primary btn-sm" type="submit" style="width: -webkit-fill-available;">Upload</button>
                    </form>
                </div>
                <hr class="my-0" />
                <div class="card-body">
                    <h5 class="h6 card-title">About</h5>
                    <ul class="list-unstyled mb-0">
                        <li class="mb-1"><span data-feather="home" class="feather-sm me-1"></span><b>Username:</b> &nbsp;{{request.user.username}}</li>
                        <li class="mb-1"><span data-feather="briefcase" class="feather-sm me-1"></span><b>Email:</b> &nbsp;{{request.user.email}}</li>
                        <li class="mb-1"><span data-feather="map-pin" class="feather-sm me-1"></span><b>Account Type:</b>&emsp;
                        {% if request.user.is_premium %}
                        <span class="badge bg-success">Pro</span>
                        {% else %}
                        <span class="badge bg-warning">Free</span>
                        {% endif %}
                        </li>
                    </ul>
                </div>
                <hr class="my-0" />
                <div class="card-body">
                    <h5 class="h6 card-title">Follow us on social media</h5>
                    <ul class="list-unstyled mb-0">
                        <li class="mb-1"><span class="fas fa-globe fa-fw me-1"></span> <a href="#">cysuite.io</a></li>
                        <li class="mb-1"><span class="fab fa-twitter fa-fw me-1"></span> <a href="#">Twitter</a></li>
                        <li class="mb-1"><span class="fab fa-medium fa-fw me-1"></span> <a href="#">Medium</a></li>
                        <li class="mb-1"><span class="fab fa-github fa-fw me-1"></span> <a href="#">Github</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-xl-9">
            <div class="card">
                <div class="card-body" style="padding: 2rem;">
                <h5 class="card-title" style="padding-bottom: 1rem;">Change Password</h6>
                    <form method="post">
                    {% csrf_token %}
                        {% if password_form.errors %}
                        {% for field in password_form %}
                            {% for error in field.errors %}
                            <div class="row" style="margin: 0 1.25rem 1rem 0;">
                                <div class="input-resizer">
                                    <div class="alert alert-danger alert-dismissible" role="alert">
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                        <div class="alert-message">
                                            <strong>{{error}}</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        {% endfor%}
                        {% endif %}
                        {% if password_form.non_field_errors %}
                        <div class="row" style="margin: 0 1.25rem 1rem 0;">
                            <div class="input-resizer">
                                <div class="alert alert-danger alert-dismissible" role="alert" style="height: 3rem;">
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    <div class="alert-message">
                                        <strong>{{password_form.non_field_errors}}</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        <div>
                            <h6>Old Password</h6>
                            <div class="row" style="margin: 0 1.25rem 1rem 0;">
                                <div class="input-resizer">
                                    <input type="password" class="form-control" name="old_password" placeholder="Old password">
                                </div>
                            </div>
                            <h6>New Password</h6>
                            <div class="row" style="margin: 0 1.25rem 1rem 0;">
                                <div class="input-resizer">
                                    <input type="password" class="form-control" name="password" placeholder="New password">
                                </div>
                            </div>
                            <h6>Confirm Password</h6>
                            <div class="row" style="margin: 0 1.25rem 1rem 0;">
                                <div class="input-resizer">
                                    <input type="password" class="form-control" name="password_confirmation" placeholder="Confirm password">
                                </div>
                            </div> 
                            {% if success_message %}
                                <button style="display: none;" class="alert-popup" id="alert-success" name="{{success_message}}" value="success"></button>
                            {% endif %}
                            {% if error_message %}
                                <button style="display: none;" class="alert-popup" id="alert-danger" name="{{error_message}}" value="danger"></button>
                            {% endif %}
                            <div class="row" style="margin: 0 1.25rem 0 1.25rem;">
                                <div class="input-resizer">
                                    <div style="float: right;">
                                        <button type="submit" class="btn btn-primary" style="min-height: 40px; width: max-content;">Change Password</button>
                                    </div>
                                </div>
                            </div>  
                        </div>
                    </form>
                </div>
            </div>
            <div class="card">
                <div class="card-body" style="padding: 2rem;">
                    <h5 class="card-title" style="padding-bottom: 1rem;">Change Details</h5>
                    <div class="h-100">
                        <form method="post">
                        {% csrf_token %}
                            {% if account_form.errors %}
                            {% for field in account_form %}
                                {% for error in field.errors %}
                                <div class="row" style="margin: 0 1.25rem 1rem 0;">
                                    <div class="input-resizer">
                                        <div class="alert alert-danger alert-dismissible" role="alert">
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                            <div class="alert-message">
                                                <strong>{{error}}</strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            {% endfor%}
                            {% endif %}
                            {% if account_form.non_field_errors %}
                            <div class="row" style="margin: 0 1.25rem 1rem 0;">
                                <div class="input-resizer">
                                    <div class="alert alert-danger alert-dismissible" role="alert" style="height: 3rem;">
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                        <div class="alert-message">
                                            <strong>{{account_form.non_field_errors}}</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            <h6>Change email</h6>
                            <div class="row" style="margin: 0 1.25rem 1rem 0;">
                                <div class="input-resizer">
                                    <input class="form-control" type="text" name="email" placeholder="Email" value="{{request.user.email}}">
                                </div>
                            </div>
                            <h6>Change username</h6>
                            <div class="row" style="margin: 0 1.25rem 1rem 0;">
                                <div class="input-resizer">
                                    <input class="form-control" type="text" name="username" placeholder="Username" value="{{request.user.username}}">
                                </div>
                            </div>
                            {% if success_message %}
                                <button style="display: none;" class="alert-popup" id="alert-success" name="{{success_message}}" value="success"></button>
                            {% endif %}
                            {% if error_message %}
                                <button style="display: none;" class="alert-popup" id="alert-danger" name="{{error_message}}" value="danger"></button>
                            {% endif %}
                            <div class="row" style="margin: 0 1.25rem 0 1.25rem;">
                                <div class="input-resizer">
                                    <div style="float: right;">
                                        <button type="submit" class="btn btn-primary" style="min-height: 40px; width: max-content;">Submit</button>
                                    </div>
                                </div>
                            </div>  
                        </form>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body" style="padding: 2rem;">
                    <h5 class="card-title mb-0">Upgrade to Pro</h5>
                    <div style="padding-top: 1.25rem !important;">
                        <div class="row">
                            <a href="/checkout"><button href="/checkout" class="btn btn-primary" style="min-height: 40px; width: max-content; float: left; margin: 0 10px 0 10px;">Upgrade</button></a>
                            <button onclick="window.location.href='checkout'" class="btn btn-primary" style="min-height: 40px; width: max-content; float: right;">Cancel Subscription</button>
                        </div> 
                    </div>
                    <hr style="width: 90%;">
                    <h5 class="card-title mb-0">Leave Feedback</h5>
                    <div style="padding-top: 1.25rem">
                        <form method="post">
                            {% csrf_token %}
                            {% if feedback_form.errors %}
                            {% for field in feedback_form %}
                                {% for error in field.errors %}
                                <div class="row" style="margin: 0 1.25rem 1rem 0;">
                                    <div class="input-resizer">
                                        <div class="alert alert-danger alert-dismissible" role="alert">
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                            <div class="alert-message">
                                                <strong>{{error}}</strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            {% endfor%}
                            {% endif %}
                            {% if feedback_form.non_field_errors %}
                            <div class="row" style="margin: 0 1.25rem 1rem 0;">
                                <div class="input-resizer">
                                    <div class="alert alert-danger alert-dismissible" role="alert" style="height: 3rem;">
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                        <div class="alert-message">
                                            <strong>{{feedback_form.non_field_errors}}</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            <div class="row" style="margin: 0 1.25rem 1rem 0;">
                                <div class="input-resizer">
                                    <textarea class="feedback" type="text" name="feedback" placeholder="Enter your feedback here..." style="width: 100%; min-height: 200px; border: 1px solid #ced4da; border-radius: .2rem; font-size: 16px; padding: 10px;"></textarea>
                                </div>
                            </div>
                            {% if success_message %}
                                <button style="display: none;" class="alert-popup" id="alert-success" name="{{success_message}}" value="success"></button>
                            {% endif %}
                            {% if error_message %}
                                <button style="display: none;" class="alert-popup" id="alert-danger" name="{{error_message}}" value="danger"></button>
                            {% endif %}
                            <div class="row" style="margin: 0 1.25rem 0 1.25rem;">
                                <div class="input-resizer">
                                    <div style="float: right;">
                                        <button type="submit" class="btn btn-primary" style="min-height: 40px; width: max-content;">Submit</button>
                                    </div>
                                </div>
                            </div>  
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}