{% extends '../base.html' %}
{% load static %}
{% block title%}
Request Tamperer | CySuite
{% endblock %}
{% block content %}
{% if success_message %}
	<button style="display: none;" class="alert-popup" id="alert-success" name="{{success_message}}" value="success"></button>
{% endif %}
{% if error_message %}
	<button style="display: none;" class="alert-popup" id="alert-danger" name="{{error_message}}" value="danger"></button>
{% endif %}
<form method="post">
{% csrf_token %}
	<div class="container-fluid p-0">
		<div class="card" style="padding: 1rem 0 1rem 0; background-color: white; box-shadow: 1px 3px 2px 0 rgb(50 0 128 / 10%); border: 1px ridge #3E4261; width: 100%;">
			<h2 style="padding-left: 15px; color: #293042; margin: 0;">Manipulate Requests</h2>
		</div>
		<div class="card">
			<div class="card-header pb-0">
				<h5 class="card-title mb-0">Input</h5>
			</div>
			<div class="card-body">
				<div class="form-floating mb-3 input-group" style="float: left; width: 85%;">
					<input type="url" class="form-control" style="font-size: 1rem;" name="req_url">
					<label for="floatingInput1" style="font-size: 1rem;">URL to request</label>
					<select type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" name="req-method">Method
						<option>GET</option>
						<option>POST</option>
						<option>OPTIONS</option>
						<option>HEAD</option>
						<option>PUT</option>
						<option>DELETE</option>
					</select>
				</div>
				<div style="float: left; width: 15%; height: 3.5rem;">
					<button class="btn btn-primary btn-lg" style="font-weight: 600; margin-left: 1rem; padding-right: 1rem; height: 100%; width: -webkit-fill-available;" type="submit"></i>Send</button>
				</div>
				<div class="body-container" style="float: left; width: 100%;">
					<div class="data-container" style="float:left; height: 2rem; padding-right: 1rem;">
						<span style="float:left; padding-right: 0.2rem; font-size: 1rem; width: auto; font-weight: 500; width: auto;">Data:&nbsp;&nbsp;<i class="fa fa-info-circle"></i><span class="tooltip">Add a JS or PHP payload that can get triggered when the document is processed.</span></span>
						<input type="text" class="form-control width-input" style="font-size: 1rem; float: left; height: 1.8rem;" name="data-key" placeholder="key">
						<input type="text" class="form-control width-input" style="font-size: 1rem; float:right; height: 1.8rem; margin-right: 0.5rem;" name="data-value" placeholder="value">
					</div>
					<div class="auth-container" style="float:left; height: 2rem; padding-right: 1rem;">
						<span style="float:left; padding-right: 0.2rem; font-size: 1rem; width: auto; font-weight: 500; width: auto;">Auth:&nbsp;&nbsp;<i class="fa fa-info-circle"></i></span>
						<input type="text" class="form-control auth-input" style="font-size: 1rem; float: left; height: 1.8rem;" name="user" placeholder="user">
						<input type="password" class="form-control auth-input" style="font-size: 1rem; float: right; height: 1.8rem; margin-right: 0.5rem;" name="pass" placeholder="pass">
					</div>
					<div class="header-container" style="float:left; height: 2rem;">
						<span style="float:left; padding-right: 0.2rem; font-size: 1rem; width: auto; font-weight: 500;">Header:&nbsp;</span>
						<input type="text" class="form-control header-input" style="font-size: 1rem; float: left; height: 1.8rem;" name="header-name" placeholder="name">
						<input type="text" class="form-control header-input" style="font-size: 1rem; float: right; height: 1.8rem; margin-right: 0.2rem;" name="header-value" placeholder="value">
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-lg-6" style="padding-bottom: 2rem;">
				<div class="card">
					<div class="card-header pb-0">
						<h5 class="card-title mb-0">Request</h5>
					</div>
					<div class="card-body">
						<div class="form-floating">
							<textarea class="form-control" id="req-tamp" style="min-height: 500px; font-size: 0.9rem; font-family: 'Courier New', Courier monospace">{% for header, value in request_output.items %}
{{ header }}:&nbsp;{{ value }}{% endfor %}
							</textarea>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-lg-6">
				<div class="card">
					<div class="card-header pb-0">
						<h5 class="card-title mb-0">Response</h5>
					</div>
					<div class="card-body">
						<div class="form-floating">
							<textarea class="form-control" id="response" type="text" placeholder="Readonly input" style="min-height: 440px; font-size: 0.9rem; font-family: 'Courier New', Courier monospace" readonly>{% for header, value in response_output.items %}
{{ header }}:&nbsp;{{value}}{% endfor %}</textarea>
						</div>
						<div class="input-group mb-2 mt-3">
							<input class="form-select flex-grow-1">
							<button class="btn btn-primary" type="button">Filter</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
{% endblock %}