{% extends '../base.html' %}
{% load static %}
{% load custom_tags %}
{% block title %} Statistics | CySuite {% endblock %}
{% block content %}
<div class="col-12 col-xxl d-flex" style="width: 100%;">
    <div class="card" style="display: flex; align-items: center; width: 100%;">
        <h3 style="padding: 1rem;">Select an Asset to analyze</h3>
        <div class="card flex-fill" style="width: 40%; min-height: 3rem; float: left;">
            <select class="dropdown-icon flex-grow-1" id="select-project" onchange="val();">			
            {% for project in projects %}
                <option>{{project}}</option>
            {% endfor %}
            </select>
        </div>
        <div class="card flex-fill" style="width: 40%; min-height: 3rem; float: left;">
            <select class="dropdown-icon flex-grow-1" id="select-project" onchange="val();">			
              <optgroup id="project-group">
                {{project}}
                {% for value in subdomains %}
                  <option>{{value}}</option>
                {% endfor %}
              </optgroup>
            </select>
        </div>
        <div class="card flex-fill" style="width: auto; float: left;">
            <button class="btn btn-primary" style="width: max-content; transform: scale(1.2);">Query</button>
        </div>
    </div>
</div>
{% if projects != None and subdomains != None %}
<div class="col-12 col-xxl" style="width: 100%; padding-bottom: 2rem;">
  <div class="card-header py-3" style="width: 100%; display: block; text-align: center;">
      <h4>Server Map</h4>
  </div>
  <div id="vmap" style="width: 100%; height: 400px;"></div>
</div>
<div class="col-12 col-xxl" style="width: 100%; display: inline-block;">
    <div style="padding: 0 1.5rem 0 0; margin-bottom: 24px; float: left;">
        <div class="card-header py-3">
            <h4>Architecture</h4>
        </div>
        <div class="card-body" style="background: #fff;">
          <canvas id="myChart" style="display: block; width: auto; height: auto;" class="chartjs-render-monitor"></canvas>
        </div>
    </div>
    <div class="col-xl-8 col-lg-7" style="height: auto; width: 70%; display: contents; padding-right: 0;">
        <div class="card shadow" style="margin-bottom: 24px; min-height: 100%">
            <div class="card-header py-3">
                <h4>Moving average of vulnerabilites per subdomains</h4>
            </div>
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="myAreaChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-12 col-xxl">
  <div class="card-header pb-0" style="width: 100%; height: 100%;">
    <h4>Personal Notes</h4>
  </div>
  <div class="card-body" style="height: 100%; background: #fff; padding: 1rem 1rem 1.5rem 1rem;">
      <textarea class="form-control" style="background-color: rgba(223, 226, 254, 0.2); width: 100%; height: 400px; font-family: 'Courier New', Courier monospace; font-size: 0.9rem;"></textarea>
      <div style="width: 100%; height: initial; display: inline-block; margin: 1rem 0 0 0; height: 20%; ">
          <button class="btn btn-primary" style="float: right; width: max-content;">Save</button>
      </div>
  </div>
</div>
{% endif %}
{% endblock %}
{% block js %}
<link href="{% static 'css/jqvmap.css' %}" media="screen" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{% static 'js/jquery.vmap.sampledata.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.vmap.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.vmap.world.js' %}" charset="utf-8"></script>
<script type="text/javascript">
    var options = {
        series: [20, 80],
        chart: {
            type: 'donut',
            width: '100%',
            animations: {
                enabled: false,
            },
    },
    dataLabels: {
        enabled: false
    },
    legend: {
        show: false
    },
    fill: {
        colors: ['#6e707e', '#3E4261']
    },
     tooltip: {
      enabled: false,
    },
    responsive: [{
        breakpoint: 480,
        options: {
            chart: {
                width: 200
            },
        }
    }]
    };

    var chart1 = new ApexCharts(document.querySelector("#chart1"), options);
    var chart2 = new ApexCharts(document.querySelector("#chart2"), options);
    var chart3 = new ApexCharts(document.querySelector("#chart3"), options);
    var chart4 = new ApexCharts(document.querySelector("#chart4"), options);
    chart1.render();
    chart2.render();
    chart3.render();
    chart4.render();
</script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery('#vmap').vectorMap({
            map: 'world_en',
            backgroundColor: '#fff',
            color: '#ffffff',
            hoverOpacity: 0.7,
            selectedColor: '#C8EEFF',
            enableZoom: false,
            showTooltip: true,
            values: sample_data,
            //'#dfe2fe'
            scaleColors: ['#dfe2fe', '#2a305c'],
            normalizeFunction: 'polynomial'
        });
    });
</script>
<script>
  $(document).ready(function () {
    var ctx = document.getElementById("myChart").getContext("2d");
    var gradient = ctx.createLinearGradient(0, 0, 0, 450);
    gradient.addColorStop(1, '#6e707e');
    gradient.addColorStop(0, '#dfe2fe');

    var myChart = new Chart(ctx, {
      type: "doughnut",
      data: {
        labels: ["One", "Two", "Three", "Four", "Five"],
        datasets: [
          {
            label: "# of users",
            data: ["1", "2", "3", "4", "5"],
            backgroundColor: "#2a305c",
            borderColor: [
              "#fff",
            ],
            borderWidth: 1,
          },
        ],
      },
      options: {
        responsive: true,
        legend: {
            position: "right",
            align: "middle"
        },
        scales: {
          y: {
            beginAtZero: true,
          },
        },
      },
    });
  });
</script>
<script>
  (Chart.defaults.global.defaultFontFamily = "Nunito"),
    '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
  Chart.defaults.global.defaultFontColor = "#858796";

  function number_format(number, decimals, dec_point, thousands_sep) {
    number = (number + "").replace(",", "").replace(" ", "");
    var n = !isFinite(+number) ? 0 : +number,
      prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
      sep = typeof thousands_sep === "undefined" ? "," : thousands_sep,
      dec = typeof dec_point === "undefined" ? "." : dec_point,
      s = "",
      toFixedFix = function (n, prec) {
        var k = Math.pow(10, prec);
        return "" + Math.round(n * k) / k;
      };
    s = (prec ? toFixedFix(n, prec) : "" + Math.round(n)).split(".");
    if (s[0].length > 3) {
      s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
    }
    if ((s[1] || "").length < prec) {
      s[1] = s[1] || "";
      s[1] += new Array(prec - s[1].length + 1).join("0");
    }
    return s.join(dec);
  }

  var ctx = document.getElementById("myAreaChart");
  var myLineChart = new Chart(ctx, {
    type: "line",
    data: {
      labels: ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10"],
      datasets: [
        {
          backgroundColor: "rgba(78, 115, 223, 0.05)",
          borderColor: "#3E4261",
          pointRadius: 3,
          pointBackgroundColor: "#3E4261",
          pointBorderColor: "#3E4261",
          pointHoverBorderColor: "#3E4261",
          pointHitRadius: 10,
          data: [0, 2, 4, 3, 1, 2, 5, 4, 3, 2],
        },
      ],
    },
    options: {
      tooltips: {enabled: false},
      hover: {mode: null},
      maintainAspectRatio: false,
      layout: {
        padding: {
          left: 10,
          right: 25,
          top: 25,
          bottom: 0,
        },
      },
      
      legend: {
        display: false,
      },
    },
  });
</script>
<script type="text/javascript">
	var token = '{{csrf_token}}';
	function val() {
		d = document.getElementById("select-project").value;
		var s = document.getElementById('project-group');
		s.label = d;
		$.ajax({
			headers: { "X-CSRFToken": token },
			url: '{% url 'directory_enum' %}',
			data: {"project": d},
			type: 'POST',
		}).done(function( responseMsg ) {
			window.location.reload(false);
			var selectbox = document.getElementById("subdomain-group");
			selectbox.options.length = 0;
			var directory_entry = document.getElementById("directory-column");

			var project = responseMsg['project_name'];
			var subdomain_list = responseMsg['subdomain_list'];
			var chosen_subdomain = responseMsg['chosen_subdomain'];
			var directories = responseMsg['directories'];

			for (i = 0; i < document.getElementById("select-project").length; ++i){
				if (document.getElementById("select-project").options[i].value == project){
					document.getElementById("select-project").options[i].selected = true
				}
			}

			for (var j = 0; j < subdomain_list.length; j++){
				var newOptionElement = document.createElement('option');
				newOptionElement.value = subdomain_list[j];
				newOptionElement.innerHTML = subdomain_list[j];
				selectbox.appendChild(newOptionElement);
				if (subdomain_list[j] == chosen_subdomain) {
					newOptionElement.selected = true
				}
			}

			var table = document.getElementById("directories");
			for(var i = 1;i<table.rows.length;){
				table.deleteRow(i);
			}

			let myTable = document.getElementById('directories').getElementsByTagName('tbody')[0];
			for (var j = 0; j < directories.length; j++){
				let row = myTable.insertRow();

				let directory = row.insertCell(0);
				let status = row.insertCell(1);
				let parameters = row.insertCell(2);
				let accepts = row.insertCell(3);
				let vulns = row.insertCell(4);

				directory.innerHTML = `<a href="${directories[j]}">${directories[j]}</a>`;
				status.innerHTML = '200 OK';
				parameters.innerHTML = 'utm_medium, id, user';
				accepts.innerHTML = 'HTTP/HTTPS';
				vulns.innerHTML = 'SQL';
			}
		});
	}

	function showdirs(){
		var subdomain = document.getElementById("subdomain-group").value;
		$.ajax({
			headers: { "X-CSRFToken": token },
			url: '{% url 'directory_enum' %}',
			data: {"show": subdomain},
			type: 'POST',
		}).done(function( responseMsg ) {
			window.location.reload(false);
			var selectbox = document.getElementById("subdomain-group");
			selectbox.options.length = 0;
			var directory_entry = document.getElementById("directory-column");

			var project = responseMsg['project_name'];
			var subdomain_list = responseMsg['subdomain_list'];
			var chosen_subdomain = responseMsg['chosen_subdomain'];
			var directories = responseMsg['directories'];

			for (i = 0; i < document.getElementById("select-project").length; ++i){
				if (document.getElementById("select-project").options[i].value == project){
					document.getElementById("select-project").options[i].selected = true
				}
			}

			for (var j = 0; j < subdomain_list.length; j++){
				var newOptionElement = document.createElement('option');
				newOptionElement.value = subdomain_list[j];
				newOptionElement.innerHTML = subdomain_list[j];
				selectbox.appendChild(newOptionElement);
				if (subdomain_list[j] == chosen_subdomain) {
					newOptionElement.selected = true
				}
			}

			var table = document.getElementById("directories");
			for(var i = 1;i<table.rows.length;){
				table.deleteRow(i);
			}

			let myTable = document.getElementById('directories').getElementsByTagName('tbody')[0];
			for (var j = 0; j < directories.length; j++){
				let row = myTable.insertRow();

				let directory = row.insertCell(0);
				let status = row.insertCell(1);
				let parameters = row.insertCell(2);
				let accepts = row.insertCell(3);
				let vulns = row.insertCell(4);

				directory.innerHTML = `<a href="${directories[j]}">${directories[j]}</a>`;
				status.innerHTML = '200 OK';
				parameters.innerHTML = 'utm_medium, id, user';
				accepts.innerHTML = 'HTTP/HTTPS';
				vulns.innerHTML = 'SQL';
			}
		})
	}
</script>
{% endblock %}
