{% extends '../base.html' %}
{% load static %}
{% load custom_tags %}
{% block title%}
Sudomain Enumeration | CySuite
{% endblock %}
{% block content %}
{% if messages %}
    {% for message in messages %}
        {% if 'successfully!' in message.message %}
            <button style="display: none;" class="alert-popup" id="alert-success" name="{{message}}" value="success"></button>
        {% else %}
            <button style="display: none;" class="alert-popup" id="alert-warning" name="{{message}}" value="warning"></button>
        {% endif %}
    {% endfor %}
{% endif %}
<div class="card" style="padding: 1rem 0 1rem 0; background-color: white; box-shadow: 1px 3px 2px 0 rgb(255 0 0 / 10%); border: 1px ridge #d9534f; width: 100%;">
    <h2 style="padding-left: 15px; color: #293042; margin: 0;">Enumerate Subdomains</h2>
</div>
<div class="container-fluid p-0">
    {% if is_project == 'False' %}
    <div class="alert alert-warning alert-dismissible mb-3" role="alert">
        <div class="alert-message">
            <p class="mb-0"><strong>You have no projects chosen!</strong> Start or select one from the <a
                    href="{% url 'projects' %}">Projects</a> tab.</p>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-lg-6 col-xxl-8" style="padding-bottom: 2rem;">
            <div class="card" style="height: 100%;">
                {% if success_message %}
                    <button style="display: none;" class="alert-popup" id="alert-success" name="{{success_message}}" value="success"></button>
                {% endif %}
                {% if error_message %}
                    <button style="display: none;" class="alert-popup" id="alert-danger" name="{{error_message}}" value="danger"></button>
                {% endif %}
                <form method="post">
                {% csrf_token %}
                <div class="card-header" style="padding-bottom: 0; width: 100%; height: 4.5rem;">
                    <h2 style="width: 80%; float: left; margin:0;">Subdomains</h2>
                    {% if first_scan == 'True'%}
                    <input name="scan" hidden />
                    <button class="project-btn" type="submit" style="font-size: 1rem; height: auto; text-align: center; transform: scale(0.9); display: inline-block; float: right;"><i class="fa fa-retweet"></i>&nbsp;Scan</button>
                    {% elif task %}
                    <input name="cancel" hidden />
                    <button class="project-btn" type="submit" style="font-size: 1rem; height: auto; text-align: center; transform: scale(0.9); display: inline-block; float: right;"><i class="fa fa-ban"></i>&nbsp;Cancel</button>
                    {% else%}
                    <input name="scan" hidden />
                    <button class="project-btn" type="submit" style="font-size: 1rem; height: auto; text-align: center; transform: scale(0.9); display: inline-block; float: right;"><i class="fa fa-retweet"></i>&nbsp;Rescan</button>
                    {% endif %}
                </div>
                {% if task %}
                <div style="padding: 1rem 1.3125rem 0 1.3125rem; position: relative;">
                    <div class='progress-wrapper' style="width: 95%; float: left; border: 1px solid grey; display: inline-block;">
                        <div id='progress-bar' class='progress-bar' style="background-color: #2a2d42; width: 0%;">&nbsp;</div>
                    </div>
                    <div style="width: 5%; float: right; padding-left: 0.5rem; text-align: center;">
                        <div id="progress-bar-message"></div>
                    </div>
                </div>
                {% endif %}
                </form>
                <div class="card-body">
                    <table id="datatables-reponsive" class="table table-striped" style="table-layout: fixed; height: 100%; width: 100%;">
                        <thead>
                            <tr>
                                <th>Subdomain</th>
                                <th>Status Code</th>
                                <th>Open Ports</th>
                                <th>Internet Protocol (IPv4)</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for info in subdomain_info %}
                            <tr>
                                <td><a href="https://{{info|get_item:"subdomain"}}" target="_blank">{{info|get_item:"subdomain"}}</a></td>
                                {% if info|get_item:"status_code"|first == '1' or info|get_item:"status_code"|first == '2' %}
                                <td><span class="badge badge-soft-success badge-pill">{{info|get_item:"status_code"}}</span></td>
                                {% elif info|get_item:"status_code"|first == '4' %}
                                <td><span class="badge bg-danger">{{info|get_item:"status_code"}}</span></td>
                                {% else %}
                                <td><span class="badge badge-soft-warning badge-pill">{{info|get_item:"status_code"}}</span></td>
                                {% endif %}
                                <td>{% if info|get_item:"ports" %}{% for port in info|get_item:"ports" %}<div class="pill">{{port}}</div>{% endfor %}{% else %}<div class="pill">None</div>{% endif %}</td>
                                <td><code style="font-size: 0.8rem; font-weight: 600;">{{info|get_item:"ip_address"}}</code></td>
                                <input name="more" value="{{forloop.counter}}" hidden />
                                <td style="font-size: 0.9rem; font-weight: 500;">
                                <form method="post" id="more-form{{forloop.counter}}">
                                    {% csrf_token %}
                                    <input name="more" value="{{forloop.counter}}" type="hidden" />
                                    <a href="#" style="text-decoration: none;" onclick="document.getElementById('more-form{{forloop.counter}}').submit();return false;">See More&nbsp; <i class="fa fa-arrow-right"></i></a>
                                </form>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                    </table>
                </div>
            </div>
        </div>
<div class="col-lg-6 col-xxl-4" style="padding-bottom: 2rem;">
        <div class="card" style="height:100%;">
                <div class="card-body">
                    {% if subdomain_info|length > 0 and sub_index > -1 %}
                    <dl class="row">
                        <dt class="col-4 col-xxl-3">Subdomain:</dt>
                        <dd class="col-8 col-xxl-9">
                            <code>{{subdomain_info|index:sub_index|get_item:"subdomain"}}</code>
                        </dd>
                        <dt class="col-4 col-xxl-3">Server Type:</dt>
                        <dd class="col-8 col-xxl-9">
                            <code style="font-size: 0.8rem;">{{subdomain_info|index:sub_index|get_item:"server"}}</code>
                        </dd>
                        <dt class="col-4 col-xxl-3">IP Address:</dt>
                        <dd class="col-8 col-xxl-9">
                            <code style="font-size: 0.8rem;">{{subdomain_info|index:sub_index|get_item:"ip_address"}}</code>
                        </dd>
                        <dt class="col-4 col-xxl-3">Open Ports:</dt>
                        <dd class="col-8 col-xxl-9">
                            <code style="font-size: 0.8rem;">{{subdomain_info|index:sub_index|get_item:"ports"|join:","}}</code>
                        </dd>
                        <dt class="col-4 col-xxl-3 mb-0">WAF:</dt>
                        <dd class="col-8 col-xxl-9 mb-0">
                            <code style="font-size: 0.8rem;">{{subdomain_info|index:sub_index|get_item:"waf"}}</code>
                        </dd>
                    </dl>
                    {% else %}
                    <dl class="row">
                        <dt class="col-4 col-xxl-3">Subdomain:</dt>
                        <dd class="col-8 col-xxl-9">
                            <code>None</code>
                        </dd>
                        <dt class="col-4 col-xxl-3">Server Type:</dt>
                        <dd class="col-8 col-xxl-9">
                            <code style="font-size: 0.8rem;">None</code>
                        </dd>
                        <dt class="col-4 col-xxl-3">IP Address:</dt>
                        <dd class="col-8 col-xxl-9">
                            <code style="font-size: 0.8rem;">None</code>
                        </dd>
                        <dt class="col-4 col-xxl-3">Open Ports:</dt>
                        <dd class="col-8 col-xxl-9">
                            <code style="font-size: 0.8rem;">None</code>
                        </dd>
                        <dt class="col-4 col-xxl-3 mb-0">WAF:</dt>
                        <dd class="col-8 col-xxl-9 mb-0">
                            <code style="font-size: 0.8rem;">None</code>
                        </dd>
                    </dl>
                    {% endif %}
                    <hr>
                    <div>
                        <h6 class="card-title" style="margin-bottom: 1rem;">SSL Infomation</h6>
                    </div>
                    <dl class="row">
                        <dt class="col-4 col-xxl-4">Organization</dt>
                        <dd class="col-8 col-xxl-8">
                            <p class="mb-1">CloudFlare, Inc.</p>
                        </dd>
                        <dt class="col-4 col-xxl-4">Common Name</dt>
                        <dd class="col-8 col-xxl-8">
                            <p class="mb-1">sni.cloudflaressl.com</p>
                        </dd>
                        <dt class="col-4 col-xxl-4">Serial Number</dt>
                        <dd class="col-8 col-xxl-8">
                            <p class="mb-1">04E3283B364E2177BC88F2D7049834C6</p>
                        </dd>
                        <dt class="col-4 col-xxl-4 mb-0">Created</dt>
                        <dd class="col-8 col-xxl-8 mb-0">
                            <p class="mb-0">Oct 10 00:00:00 2020 GMT</p>
                        </dd>
                    </dl>
                    <hr>
                    <div>
                        <h6 class="card-title" style="margin-bottom: 1rem;">Screenshot</h6>
                        <img src="{% static 'img/illustrations/home-bg.jpg' %}" alt="Website screenshot" style="max-width: -webkit-fill-available; height: auto;" onerror="">
                    </div>
                    <hr>
                    <div>
                        <h6 class="card-title">Header Infomation</h6>
                    </div>
                    <textarea class="form-control" style="min-height: 400px; font-family: courier new; font-size: 0.8rem; max-width: -webkit-fill-available;" type="text" readonly>{{subdomain_info|index:sub_index|get_item:"header_info"}}</textarea>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% if task %}
<script src="{% static 'celery_progress/celery_progress.js' %}"></script>
<script>
    function reloadPage() {
        window.location.reload(true);
    }
    var subdomain_num = 0;

</script>
<script>
    function refreshPage() {
        window.location.assign(document.URL);
    }

    function onProgress(progressBarElement, progressBarMessageElement, progress) {
        progressBarElement.style.backgroundColor = '#2a2d42';
        progressBarElement.style.width = progress.percent + "%";
        var description = progress.description || "";
        if (progress.current == 0) {
            if (progress.pending === true) {
                progressBarMessageElement.textContent = '0%';
            } else {
                progressBarMessageElement.innerHTML = `<i class="fa fa-spinner fa-spin" style="font-size: 1rem;"></i>`;
            }
        } else {
            progressBarMessageElement.textContent = String(Math.floor(progress.current/progress.total * 100)) + '%';
        }
    }

    function onSuccess(progressBarElement, progressBarMessageElement, result) {
        result = this.getMessageDetails(result);
        progressBarElement.style.backgroundColor = '#76ce60';
        progressBarElement.style.width = "100%";
        progressBarMessageElement.textContent = "100%";
    }
	
    document.addEventListener("DOMContentLoaded", function () {
        var progressUrl = "{% url 'celery_progress:task_status' task_id %}";
        CeleryProgressBar.initProgressBar(progressUrl, {
            onResult: refreshPage,
            onProgress: onProgress,
            onSuccess: onSuccess,
        });
	});
</script>
{% endif %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        $("#datatables-reponsive").DataTable({
            pageLength: 20,
            lengthChange: false,
            bFilter: false,
            autoWidth: true,
            responsive: true,
        });
    });
</script>
{% endblock %}