{% extends '../base.html' %}
{% load static %}
{% block title%}
Vulnerability Analysis | CySuite
{% endblock %}
{% block content %}
<div class="row">
<div class="col-12 col-lg-5">
    <div class="card" style="height: 450px;">
        <div class="card-header">
            <h2 class="mb-0">Vulnerability analysis scan</h2>
        </div>
        <div class="card-body">
            <h4>Select Project</h4>
            <div class="alert alert-primary alert-outline alert-dismissible" style="margin: 0 2rem 2rem 0; width: 100%;">
                <div class="alert-icon">
                    <i class="fa fa-book"></i>
                </div>
                <select class="dropdown-icon flex-grow-1 ">
                    <option>Starbucks</option>
                    <option>Amazon</option>
                </select>
            </div>
            <div class="alert alert-primary alert-outline alert-dismissible" style="margin: 0 2rem 2rem 0; width: 100%;">
                <div class="alert-icon">
                    <i class="fa fa-globe"></i>
                </div>
                <select class="dropdown-icon flex-grow-1 ">
                    <option>subdomain1.site.com</option>
                    <option>subdomain2.site.com</option>
                </select>
            </div>
            <div class="alert alert-primary alert-outline alert-dismissible" style="margin: 0 2rem 2rem 0; width: 100%;">
                <div class="alert-icon">
                    <i class="fa fa-bug"></i>
                </div>
                <select class="dropdown-icon flex-grow-1 ">
                    <option>Simple</option>
                    <option>Full</option>
                    <option>Agressive</option>
                </select>
            </div>
            <button class="btn btn-primary save-btn" style="min-height: 45px; width: auto; float: right; font-size: 0.9rem;" type="button"><i class="fa fa-search"></i> &nbsp;Scan</button>
        </div>
    </div>
</div>
<div class="col-12 col-lg-7" style="height: auto;">
    <div class="card" style="min-height: 450px;">
        <div class="card-header" style="padding-bottom: 0;">
            <h4 class="mb-0">Report</h4>
        </div>
        <div class="card-header">
            <textarea class="form-control" type="text" style="min-height: 400px; font-family: courier new; font-size: 0.9rem" readonly>
Server: Apache
Version number: 2.23
Technologies: NodeJS, Stripe, React
Known Vulnerabilities: CVE-2020-12423

Interesting Files:
    /robots.txt
    /webDav
    /login

DNS Records:
    example.com.		59	IN	A	104.245.210.170
    www.example.com.	59	IN	A	104.245.210.170

    example.com.		3599	IN	MX	1 aspmx.l.google.com.
    example.com.		3599	IN	MX	5 alt1.aspmx.l.google.com.
    example.com.		3599	IN	MX	5 alt2.aspmx.l.google.com.
    example.com.		3599	IN	MX	10 alt3.aspmx.l.google.com.
    example.com.		3599	IN	MX	10 alt4.aspmx.l.google.com.

    example.com.		3599	IN	CAA	0 iodef "mailto:ops@example.com"
    example.com.		3599	IN	CAA	0 issue "amazonaws.com"
    example.com.		3599	IN	CAA	0 issue "sectigo.com"
    example.com.		3599	IN	CAA	0 issue "letsencrypt.org"
    example.com.		3599	IN	CAA	0 issuewild "sectigo.com"


SSL Server Certificate:
    Issued To:
        Common Name (CN)	www.venafi.com
        Organization (O)	Venafi, Inc.
        Organizational Unit (OU)	<Not Part Of Certificate>

    Issued By:
        Common Name (CN)	HydrantID SSL CA G3
        Organization (O)	HydrantID (Avalanche Cloud Corporation)
        Organizational Unit (OU)	<Not Part Of Certificate>

    Validity Period:
        Issued On	Wednesday, April 14, 2021 at 8:09:54 PM
        Expires On	Thursday, April 14, 2022 at 8:19:00 PM

    Fingerprints:
        SHA-256 Fingerprint	A0 C1 5D EE 42 52 40 D4 34 E3 19 20 53 37 83 7D
        C1 77 6F A1 41 04 88 4D 48 1D 2B 37 C0 3F 9B D9
        SHA-1 Fingerprint	3E 1D ED A6 59 39 1A 76 F2 03 97 FB 46 50 76 00
        94 4C F4 C9

Code Analysis:
    Code Health: 95%
    Load time: 5ms
    Redirect: No

Scanned Secrets:
    2b3cb2d32aab688bcd9779 - Heroku API Key [index.js]
            </textarea>
        </div>
    </div>
</div>
</div>
{% endblock %}