{% extends '../base.html' %}
{% load static %}
{% block title%}
Wordlist Generator | CySuite
{% endblock %}
{% block content %}
<div class="container-fluid p-0">
	<div class="row">
	<div class="card" style="padding: 1rem 0 1rem 0; background-color: white; box-shadow: 1px 3px 2px 0 rgb(50 0 128 / 10%); border: 1px ridge #3E4261; width: 100%;">
		<h2 style="padding-left: 15px; color: #293042; margin: 0;">Default Wordlists</h2>
	</div>
		<div class="wordlist-table">
			<div class="card" style="min-height: 500px">
				<div class="card-header" style="display: block;">
					<div class="row">
						<div style="float: left; width: 33.33%; padding-left: 1rem;">
							<h3 style="padding-right: 1rem;">Loaded wordlists</h3>
							<small style="margin: 0;">Max upload size: 10MB</small><br/>
							<small style="margin: 0;">Total size: 130MB</small>
						</div>
						<div style="float: left; width: 33.33%;">
						</div>
						<div style="float: left;width: 33.33%; position: relative;">
						{% if messages %}
							{% for message in messages %}
								{% if message.message == 'The wordlist file has been uploaded successfully!' %}
									<button style="display: none;" class="alert-popup" id="alert-success" name="{{message}}" value="success"></button>
								{% else %}
									<button style="display: none;" class="alert-popup" id="alert-warning" name="{{message}}" value="warning"></button>
								{% endif %}
							{% endfor %}
						{% endif %}
						{% if success_message %}
                            <button style="display: none;" class="alert-popup" id="alert-success" name="{{success_message}}" value="success"></button>
                        {% endif %}
                        {% if error_message %}
                            <button style="display: none;" class="alert-popup" id="alert-danger" name="{{error_message}}" value="danger"></button>
                        {% endif %}
						<form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
							<label class="btn btn-primary btn-sm" style="font-size: 0.9rem; max-height: 3rem; width: 100%; position: absolute; bottom: 0; margin-bottom: 0;">
							<input type="file" accept="text/plain" name="wordlist" onchange="form.submit()" hidden />
								<i class="fa fa-upload"></i>&nbsp;Upload
							</label>
						</form>
						</div>
					</div>
				</div>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th style="width:40%;">Name</th>
							<th style="width:25%">Source</th>
							<th class="d-none d-md-table-cell" style="width:25%">Function</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><a href="/media/rockyou.txt" target="_blank">rockyou.txt</a></td>
							<td>Kaggle</td>
							<td class="d-none d-md-table-cell">Password list</td>
							<td class="table-action" style="text-align:center">
							<form method="post" id="rockyou_txt">
							{% csrf_token %}
								<input type="text" name="preview" value="/media/rockyou.txt" hidden />
								<a href="javascript:$('#rockyou_txt').submit();"><i class="align-middle" data-feather="eye"></i></a>
							</form>
							</td>
						</tr>
						<tr>
							<td><a href="/media/all.txt" target="_blank">all.txt</a></td>
							<td>JHaddix</td>
							<td class="d-none d-md-table-cell">Directory list</td>
							<td class="table-action" style="text-align:center">
							<form method="post" id="all_txt">
							{% csrf_token %}
								<input type="text" name="preview" value="/media/all.txt" hidden />
								<a href="javascript:$('#all_txt').submit();"><i class="align-middle" data-feather="eye"></i></a>
							</form>
							</td>
						</tr>
						{% for key, value in wordlist_list.items %}
						{% if value != None %}
						<tr>
							<td><a href="{{value}}" target="_blank">{{key}}</td>
							<td>Custom</td>
							<td class="d-none d-md-table-cell">Wordlist</td>
							<td class="table-action">
							<form method="post" id="new_txt">
							{% csrf_token %}
								<input type="text" name="preview_new" value="{{model.url}}" hidden />
								<a href="javascript:$('#new_txt').submit();"><i class="align-middle" data-feather="eye"></i></a>
								<a href="#"><i class="align-middle" data-feather="trash"></i></a>
							</form>
							</td>
						</tr>
						{% endif %}
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		<div class="wordlist-output">
			<div class="card">
				<div class="card-body" style="padding: 1.5 1.5rem 1.5rem 1.5rem;">
					<div class="form-floating">
						<textarea class="form-control" type="text" style="min-height: 460px; font-size: 0.9rem;" readonly>{% for word in preview_wordlist %}{{word}}{% endfor %}</textarea>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
	<div class="wordlist-gen">
		<h1 class="h3 mb-3">Generate Wordlist from URL</h1>
		<div class="card" style="width: 79%; float: left;">
			<div class="card-header">
				<h5 class="card-title">Generate wordlist</h5>
			</div>
			<form method="post">
			{% csrf_token %}
			<div class="card-body" style="padding: 0 1.5rem 0 1.5rem;">
				<div class="form-floating mb-3 input-group">
					<input type="url" class="form-control" id="wordlist_input" name="wordlist_url" style="font-size: 1rem; padding-bottom: 0.1rem !important;">
					<label class="wordlist-label" for="wordlist_input" style="font-size: 1rem;">Enter URL</label>
					<button class="btn btn-primary" style="padding: 0 2rem 0 2rem;" type="submit">Go!</button>
					</input>
				</div>
			</div>
			<div class="card-body" style="padding: 0 1.5rem 1rem 1.5rem;">
				<div class="form-floating">
					<textarea class="form-control" type="text" style="min-height: 435px; font-size: 1rem;" readonly>{% for word in wordlist_output %}
{{ word }}{% endfor %}</textarea>
				</div>
			</div>
			</form>
		</div>
		<div class="card" style="width: 20%; float: right;">
			<div class="card-body" style="padding-bottom:0;">
				<div class="row">
					<div class="col mt-0">
						<h5 class="card-title">Wordlist Length</h5>
					</div>

					<div class="col-auto" style="position: relative; text-align: center;">
						<div class="stat stat-sm">
							<i class="fa fa-list-ol"></i>
						</div>
					</div>
				</div>
				<span class="h1 d-inline-block mt-1 mb-4">{{wordlist_len}}</span>
			</div>
			<hr style="margin:0;" />
			<div class="card-body">
				<div class="row">
					<div class="col mt-0">
						<h5 class="card-title">Website Status</h5>
					</div>
					<div class="col-auto" style="position: relative; text-align: center;">
						<div class="stat stat-sm">
							<i class="fa fa-globe"></i>
						</div>
					</div>
				</div>
				{% if url_status == '200 OK' %}
				<span class="badge badge-soft-success me-2" style="font-size: 1rem;">{{url_status}}</span>
				{% elif url_status == 'N/A' %}
				<span class="badge badge-soft-success me-2" style="font-size: 1rem; background-color: grey; color: white;">{{url_status}}</span>
				{% else %}
				<span class="badge badge-soft-warning me-2" style="font-size: 1rem;">{{url_status}}</span>
				{% endif %}
			</div>
			<hr />
			<form method="post">
			{% csrf_token%}
			<div class="card-body" style="padding-top: 14rem;">
				<div class="row">
					<button class="btn btn-primary mb-2" onclick='clearScreen()' style="height: 40px; max-height: 40px; width: 100%; bottom: 0;">Clear</button>
					<input name="download" value="{{wordlist_output}}" hidden />
					<button class="btn btn-primary" type="submit" style="height: 40px; max-height: 40px; width: 100%; bottom: 0;">Download</button>
				</div>
			</div>
			</form>
		</div>
	</div>
	</div>
</div>
<script>
	function clearScreen (){
		var token = '{{csrf_token}}';
		$.ajax({
			url: '{% url 'wordlist_gen' %}',
			headers: { "X-CSRFToken": token },
			type: 'POST',
			data: {"clear": "true"},
			success: function(){
				console.log("Success!")
			}
		});
	}
</script>
{% endblock %}